---
import PhonesRow from "./PhonesRow.astro";
import Avatar from "../Avatar.astro";
---
<table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50 dark:bg-gray-800">
    </thead>
    <tbody class="bg-gray-100 ">
        <tr class="[&>td]:pt-8"> 
            <td class="pb-2" colspan="3">
                <div class="flex pl-4 md:pl-16 place-items-center text-main-900">
                    <h3 class="text-lg font-extrabold leading-6 tracking-wide uppercase">Департамент продаж "Строительство"</h3>
                </div>
            </td>
            <td class="hidden pb-2 md:table-cell" colspan="1">
                <div class="flex">
                    <Avatar mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444"/>
                </div>
            </td>
        </tr>
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <tr class="[&>td]:pt-8"> 
            <td class="pb-2" colspan="3">
                <div class="flex pl-4 md:pl-16 place-items-center text-main-900">
                    <h3 class="text-lg font-extrabold leading-6 tracking-wide uppercase">Департамент продаж "Строительство"</h3>
                </div>
            </td>
            <td class="hidden pb-2 md:table-cell" colspan="1">
                <div class="flex">
                    <Avatar mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444"/>
                </div>
            </td>
        </tr>
        <tr class="[&>td]:pt-0"> 
            <td class="pb-2" colspan="3">
                <div class="flex pl-4 text-gray-900 md:pl-16 place-items-center">
                    <h3 class="font-extrabold tracking-wide">Отдел продаж "Строительство" № 1</h3>
                </div>
            </td>
            <td class="hidden pb-2 md:table-cell" colspan="1">
                <div class="flex ">
                    <Avatar mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444"/>
                </div>
            </td>
        </tr>
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <tr class="[&>td]:pt-8"> 
            <td class="pb-2" colspan="3">
                <div class="flex pl-4 md:pl-16 place-items-center ">
                    <h3 class="font-extrabold tracking-wide">Отдел продаж "Строительство" № 1</h3>
                </div>
            </td>
            <td class="hidden pb-2 md:table-cell" colspan="1">
                <div class="flex ">
                    <Avatar mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444"/>
                </div>
            </td>
        </tr>
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <tr class="[&>td]:pt-8"> 
            <td class="pb-2" colspan="3">
                <div class="flex pl-16 place-items-center ">
                    <h3 class="font-extrabold tracking-wide">Отдел продаж "Строительство" № 1</h3>
                </div>
            </td>
            <td class="hidden pb-2 md:table-cell" colspan="1">
                <div class="flex ">
                    <Avatar mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444"/>
                </div>
            </td>
        </tr>
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
        <PhonesRow mail="kuznets_ys@santech.ru" name="Кузнецова Юлия Сергеевна" post="Менеджер по продажам" photo="/img/705386.jpg" location="Корпус 2, этаж 4, каб 43" status={Math.random()>.5&&true} phone="+7 901 727 4683" ext="3444" />
    </tbody>
</table>