/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Golos Text VF";
    src: url("/santech-portal/asset/fonts/golos-text_vf.woff2") format("woff2");
    font-weight: 400 900;
    font-display: fallback;
  }
  html {
    font-family: "Golos Text VF", system-ui, sans-serif;
  }
  body{
    @apply bg-gray-100;
  }

}
@layer utilities{
  .badge-yellow{
    @apply bg-gradient-to-bl from-yellow-300/80 to-yellow-100/80;
  }
  .badge-red{
    @apply bg-gradient-to-bl from-red-300/80 to-red-100/80;
  }
  .badge-green{
    @apply bg-gradient-to-bl from-green-300/80 to-green-100/80;
  }
  .badge-teal{
    @apply bg-gradient-to-bl from-teal-300/80 to-teal-100/80;
  }
  .badge-blue{
    @apply bg-gradient-to-bl from-blue-300/80 to-blue-100/80;
  }
  .badge-orange{
    @apply bg-gradient-to-bl from-orange-300/80 to-orange-100/80;
  }
  .badge-indigo{
    @apply bg-gradient-to-bl from-indigo-300/80 to-indigo-100/80;
  }
}


@-webkit-keyframes BackgroundActive {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}
@-moz-keyframes BackgroundActive {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}
@-o-keyframes BackgroundActive {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}
@keyframes BackgroundActive {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}

.active-background {
  background: linear-gradient(315deg, #75fff0, #7bf3d2);
  background-size: 400% 400%;

  -webkit-animation: BackgroundActive 4s ease infinite;
  -moz-animation: BackgroundActive 4s ease infinite;
  -o-animation: BackgroundActive 4s ease infinite;
  animation: BackgroundActive 4s ease infinite;
}
.is-active {
  --tw-scale-x: 1 !important;
  --tw-scale-y: 1 !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  filter: blur(0) !important;
  --tw-blur: blur(0px) grayscale(0) !important;
  opacity: 1 !important;
}
.splide__arrow {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
  background-color: white !important;
}

.grid-4-col{
  display: grid;
  grid-auto-flow: dense;
  /* grid-auto-rows: 100px; */
  /* grid-auto-column: 1fr; */
  /* grid-gap: 5px; */
}
.grid-4-col>li{
  height: 16rem;
}
.grid-4-col> li:nth-child(10n + 2),
.grid-4-col> li:nth-child(10n + 5),
.grid-4-col> li:nth-child(10n + 7),
.grid-4-col> li:nth-child(10n + 8) {
  grid-column: span 2;
}
.grid-4-col> li:nth-child(10n + 9) {
  grid-column: 2;
}
.grid-4-col> li:nth-child(10n + 3) {
  grid-column: 3;
}
.grid-4-col> li:nth-child(10n + 1),
.grid-4-col> li:nth-child(10n + 10) {
  grid-row: span 2;
  height: 34rem;
}
