/*  */
.markdown--default {
  font: var(--text);
}
/* .markdown_item--default h1{
    font-size: 2rem;
    line-height: 6rem;
    font-weight: 900;
} */
/* .markdown--default h2{
    font-size: 3rem;
    line-height: 3rem;
}
.markdown--default h3{
    font-size: 2rem;
}
.markdown--default ul{

font: var(--text);
}
.markdown--default p{

font: var(--text);
}
.markdown--default ol{
display:block;

}
.markdown--default img{

font: var(--text);
border-radius: var(--outer_radius);
}
.markdown--default a{

color: var(--black, #333238);
font: var(--link);
letter-spacing: 0.01rem;
text-decoration: none;
border-radius: var(--inner_radius,16px);
}
.markdown--default alert{
    display: block;
    background-color: #333238;
} */
