@font-face {
  font-family: "Golos Text VF";
  src: url("asset/fonts/golos-text_vf.woff2") format("woff2");
  font-weight: 400 900;
  font-display: fallback;
}

:root {
    /* Colors */
    --_2: #165080;
    --_1: linear-gradient(
      -17.82deg,
      rgba(45, 156, 219, 1) 0%,
      rgba(45, 156, 219, 0) 100%
    );
    --_1: linear-gradient(
      171.03deg,
      rgba(118, 185, 222, 1) 0%,
      rgba(192, 213, 232, 1) 100%
    );
    --_1: linear-gradient(
      135deg,
      rgba(207, 241, 255, 1) 0%,
      rgba(139, 185, 227, 1) 15.625%,
      rgba(107, 149, 214, 1) 100%
    );
    --_2: linear-gradient(
      207.94deg,
      rgba(31, 68, 161, 1) 0%,
      rgba(147, 188, 226, 1) 100%
    );
    --_3: linear-gradient(
      212.78deg,
      rgba(22, 80, 128, 1) 11.97916641831398%,
      rgba(109, 168, 210, 1) 100%
    );
    --_1: radial-gradient(
      closest-side,
      rgba(3, 37, 89, 1) 0%,
      rgba(31, 100, 157, 1) 100%
    );
    --steel-grey: #f3f5f9;
    --black: #333238;
    --mid-grey: #edf0f5;
    --dark-grey: #e1e4e9;
    --accent: #4ae7cb;
    --transparency-grey: rgba(243, 245, 249, 0.2);
    /* --accent: #e2e5ed; */
    --_2: radial-gradient(
      closest-side,
      rgba(31, 100, 157, 1) 0%,
      rgba(3, 37, 89, 1) 100%
    );
    --_3: radial-gradient(
      closest-side,
      rgba(5, 117, 230, 1) 0%,
      rgba(2, 27, 121, 1) 100%
    );
    --_4: radial-gradient(
      closest-side,
      rgba(166, 175, 184, 1) 0%,
      rgba(206, 211, 218, 1) 62.6744270324707%,
      rgba(230, 237, 245, 1) 100%
    );
    --_5: radial-gradient(
      closest-side,
      rgba(255, 138, 113, 1) 0%,
      rgba(190, 94, 117, 1) 24.757935106754303%,
      rgba(3, 37, 89, 1) 100%
    );
    --dark: radial-gradient(
      closest-side,
      rgba(36, 59, 85, 1) 0%,
      rgba(20, 30, 48, 1) 100%
    );
    --disable-grey: #999ca4;
    --accent-grad-1: linear-gradient(
      180deg,
      rgba(58, 215, 163, 1) 0%,
      rgba(62, 210, 181, 1) 34.375%,
      rgba(62, 205, 198, 1) 64.58333134651184%,
      rgba(58, 200, 215, 1) 100%
    );
    --grey-black: #a4a4a4;
    --white: #ffffff;
    --grad-1: linear-gradient(
      180deg,
      rgba(227, 100, 50, 1) 0%,
      rgba(224, 93, 69, 1) 20.000000298023224%,
      rgba(221, 85, 86, 1) 40.00000059604645%,
      rgba(218, 77, 102, 1) 60.00000238418579%,
      rgba(214, 69, 117, 1) 80.0000011920929%,
      rgba(209, 60, 132, 1) 100%
    );
    --grad-2: linear-gradient(
      90deg,
      rgba(255, 226, 89, 1) 0%,
      rgba(255, 167, 81, 1) 100%
    );
    --grad-3: linear-gradient(
      90deg,
      rgba(91, 158, 200, 1) 0%,
      rgba(194, 232, 235, 1) 100%
    );
    --grad-4: linear-gradient(
      90deg,
      rgba(114, 198, 239, 1) 0%,
      rgba(0, 78, 143, 1) 100%
    );
    --dark-2: radial-gradient(
      closest-side,
      rgba(36, 59, 85, 0.6) 0%,
      rgba(20, 30, 48, 0.6) 100%
    );
    --grad-grey: linear-gradient(
      180deg,
      rgba(225, 228, 233, 1) 0%,
      rgba(248, 248, 248, 1) 100%
    );
    --grad-light-accent: linear-gradient(
      180deg,
      rgba(67, 239, 182, 1) 0%,
      rgba(70, 233, 201, 1) 34.375%,
      rgba(92, 229, 223, 1) 64.58333134651184%,
      rgba(110, 228, 240, 1) 100%
    );
    --grad-light-accent-fade: linear-gradient(
      180deg,
      rgba(67, 239, 182, 0) 0%,
      rgba(70, 233, 201, 0) 34.375%,
      rgba(92, 229, 223, 0) 64.58333134651184%,
      rgba(110, 228, 240, 0) 100%
    );
  
    /* Fonts */
    --brand-years: 900 32px/110% "Golos Text VF", sans-serif;
    --brand-list: 400 20px/120% "Golos Text VF", sans-serif;
    --brand-select: 700 24px/120% "Golos Text VF", sans-serif;
    --table: 400 12px/16px "Golos Text VF", sans-serif;
    --table-header: 700 12px/24px "Golos Text VF", sans-serif;

    --h-1: 900 32px/130% "Golos Text VF", sans-serif;
    --h-1-xs: 900 20px/130% "Golos Text VF", sans-serif;
    --h-2: 700 28px/120% "Golos Text VF", sans-serif;
    --h-3: 700 22px/120% "Golos Text VF", sans-serif;

    --h-2-xs: 700 20px/120% "Golos Text VF", sans-serif;
    --h-3-xs: 700 16px/120% "Golos Text VF", sans-serif;
    
    --list-row: 400 16px/140% "Golos Text VF", sans-serif;
    --list-header: 900 16px/20px "Golos Text VF", sans-serif;

    
    --text-bold: 900 16px/140% "Golos Text VF", sans-serif;

    --small-text-header: 700 12px/140% "Golos Text VF", sans-serif;
    --small-text: 400 12px/140% "Golos Text VF", sans-serif;
    --mid-text: 400 .9rem/140% "Golos Text VF", sans-serif;

    --link: 400 1rem/1.4rem "Golos Text VF", sans-serif;
    --text: 400 1rem/1.4rem "Golos Text VF", sans-serif;
    --text-bold: 700 1rem/1.4rem "Golos Text VF", sans-serif;
  
    --animation-speed: .3s;
    /* Effects */
    --shadow-box-shadow: 0px 2.75px 9px 0px rgba(0, 0, 0, 0.19),
      0px 0.25px 3px 0px rgba(0, 0, 0, 0.04);
    --accent-shadow-box-shadow: 0px 2.75px 24px 0px rgba(159, 255, 223, 0.5),
      0px 0.25px 12px 0px rgba(0, 223, 187, 0.4);
    --text-box-shadow: 0px 0px 4px 0px rgba(15, 19, 60, 0.3);
    --shadow-soft-box-shadow: 0px 2.75px 9px 0px rgba(0, 0, 0, 0.12),
      0px 0.25px 3px 0px rgba(0, 0, 0, 0.02);
    --shadow-small-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05),
      0px 0.05px 1px 0px rgba(38, 38, 38, 0);
    --inner-shadow-box-shadow: inset 0px 16px 16px 0px rgba(127, 139, 183, 0.25);



    --inner_radius: 16px; 
    --outer_radius: 24px; 

    --basic_padding: 16px;
    --small_padding: 8px;

    --border_1: 1px solid var(--dark-grey, #E1E4E9);
  }

body{
  background: var(--steel-grey);
}

.animation-details label:hover{
  cursor: pointer;
}
.animation-details label::before{
  cursor: pointer;
}
.animation-details label::before{
  max-width: 500px;
  box-sizing: border-box;
  margin-top: 5px;
  background: white;
  transition: max-height 400ms ease-out;

  max-height: 4rem; /* Set a max-height value just enough to show the summary content */
  overflow: hidden; /* Hide the rest of the content */
}
input:checked + details,
details:has(input:checked) {
  max-height: 800px; /* Set a max-height value enough to show all the content */
}


.is-active{
  --tw-scale-x: 1 !important;
  --tw-scale-y: 1 !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  filter: blur(0) !important;
  --tw-blur: blur(0px) grayscale(0) !important;
  opacity: 1 !important;
}
.splide__arrow{
  margin-left: 4rem !important;
  margin-right: 4rem !important;
  background-color: white !important;
}
.active-background {
  background: linear-gradient(315deg, #75fff0, #7bf3d2);
  background-size: 400% 400%;

  -webkit-animation: BackgroundActive 4s ease infinite;
  -moz-animation: BackgroundActive 4s ease infinite;
  -o-animation: BackgroundActive 4s ease infinite;
  animation: BackgroundActive 4s ease infinite;
}

@-webkit-keyframes BackgroundActive {
  0%{background-position:0% 76%}
  50%{background-position:100% 25%}
  100%{background-position:0% 76%}
}
@-moz-keyframes BackgroundActive {
  0%{background-position:0% 76%}
  50%{background-position:100% 25%}
  100%{background-position:0% 76%}
}
@-o-keyframes BackgroundActive {
  0%{background-position:0% 76%}
  50%{background-position:100% 25%}
  100%{background-position:0% 76%}
}
@keyframes BackgroundActive {
  0%{background-position:0% 76%}
  50%{background-position:100% 25%}
  100%{background-position:0% 76%}
}

/* .bullet:before {
  content: "";
  display: block;
  position: absolute;
  top: 0.5rem;
  bottom: 0;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 4rem;
  left: -0.5rem;
  background-color: #165080;
} */
.bullet{
  text-decoration: underline;
}
/* .splide__pagination{
  bottom: -1rem !important;
  
}
.splide__pagination__page{
  background-color: #333238 !important;
  color: #333238;
} */