---
---
<div class="calendar">
    <div class="calendar__date-picker">
      <div class="calendar__content">
        <div class="calendar__controls">
          <div class="calendar__arrows">
            <div class="calendar__button-icon-button">
              <svg
                class="calendar__icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15.41 7.41L14 6L8 12L14 18L15.41 16.59L10.83 12L15.41 7.41Z"
                  fill="#333238"
                />
              </svg>
            </div>
            <div class="calendar__dropdown">
              <div class="calendar__label">Апрель 2023</div>
              <svg
                class="calendar__arrow-filled-down"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M7 10L12 15L17 10H7Z" fill="#333238" />
              </svg>
            </div>
            <div class="calendar__button-icon-button">
              <svg
                class="calendar__icon3"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.58984 7.41L9.99984 6L15.9998 12L9.99984 18L8.58984 16.59L13.1698 12L8.58984 7.41Z"
                  fill="#333238"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="calendar__weekdays">
          <div class="calendar__label2">Пн</div>
          <div class="calendar__label2">Вт</div>
          <div class="calendar__label2">Ср</div>
          <div class="calendar__label2">Чт</div>
          <div class="calendar__label2">Пт</div>
          <div class="calendar__label2">Сб</div>
          <div class="calendar__label2">Вс</div>
        </div>
        <div class="calendar__calendar2">
          <div class="calendar__day-calendar">
            <div class="calendar__row">
              <div class="calendar__day-selection-unselected">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
              <div class="calendar__day-selection-unselected">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
              <div class="calendar__day-selection-unselected">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
              <div class="calendar__day-selection-unselected">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
              <div class="calendar__day-selection-unselected">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
              <div class="calendar__day-selection-unselected">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
              <div class="calendar___01">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
            </div>
            <div class="calendar__row">
              <div class="calendar___02">
                <div class="calendar__range-container">
                  <div class="calendar__label3">2</div>
                </div>
              </div>
              <div class="calendar___03">
                <div class="calendar__range-container">
                  <div class="calendar__label3">3</div>
                </div>
              </div>
              <div class="calendar___04">
                <div class="calendar__range-container">
                  <div class="calendar__label3">4</div>
                </div>
              </div>
              <div class="calendar___05">
                <div class="calendar__range-container">
                  <div class="calendar__label3">5</div>
                </div>
              </div>
              <div class="calendar___06">
                <div class="calendar__range-container">
                  <div class="calendar__label3">6</div>
                </div>
              </div>
              <div class="calendar___07">
                <div class="calendar__range-container">
                  <div class="calendar__label3">7</div>
                </div>
              </div>
              <div class="calendar___08">
                <div class="calendar__range-container">
                  <div class="calendar__label3">8</div>
                </div>
              </div>
            </div>
            <div class="calendar__row">
              <div class="calendar___09">
                <div class="calendar__range-container">
                  <div class="calendar__label3">9</div>
                </div>
              </div>
              <div class="calendar___10">
                <div class="calendar__range-container">
                  <div class="calendar__label3">10</div>
                </div>
              </div>
              <div class="calendar___11">
                <div class="calendar__range-container">
                  <div class="calendar__label3">11</div>
                </div>
              </div>
              <div class="calendar___12">
                <div class="calendar__range-container">
                  <div class="calendar__label3">12</div>
                </div>
              </div>
              <div class="calendar___13">
                <div class="calendar__range-container">
                  <div class="calendar__label3">13</div>
                </div>
              </div>
              <div class="calendar___14">
                <div class="calendar__range-container">
                  <div class="calendar__label3">14</div>
                </div>
              </div>
              <div class="calendar___15">
                <div class="calendar__range-container">
                  <div class="calendar__label3">15</div>
                </div>
              </div>
            </div>
            <div class="calendar__row">
              <div class="calendar___16">
                <div class="calendar__range-container">
                  <div class="calendar__label3">16</div>
                </div>
              </div>
              <div class="calendar___17">
                <div class="calendar__range-container">
                  <svg
                    class="calendar__shape"
                    width="37"
                    height="36"
                    viewBox="0 0 37 36"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g filter="url(#filter0_dd_1402_4216)">
                      <path
                        d="M0.714355 17.9998C0.714355 8.05863 8.77323 -0.000244141 18.7144 -0.000244141C28.6555 -0.000244141 36.7144 8.05863 36.7144 17.9998C36.7144 27.9409 28.6555 35.9998 18.7144 35.9998C8.77323 35.9998 0.714355 27.9409 0.714355 17.9998Z"
                        fill="url(#paint0_linear_1402_4216)"
                      />
                    </g>
                    <defs>
                      <filter
                        id="filter0_dd_1402_4216"
                        x="-23.2856"
                        y="-21.2502"
                        width="84"
                        height="84"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                      >
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix
                          in="SourceAlpha"
                          type="matrix"
                          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                          result="hardAlpha"
                        />
                        <feOffset dy="2.75" />
                        <feGaussianBlur stdDeviation="12" />
                        <feColorMatrix
                          type="matrix"
                          values="0 0 0 0 0.625 0 0 0 0 1 0 0 0 0 0.873798 0 0 0 0.5 0"
                        />
                        <feBlend
                          mode="normal"
                          in2="BackgroundImageFix"
                          result="effect1_dropShadow_1402_4216"
                        />
                        <feColorMatrix
                          in="SourceAlpha"
                          type="matrix"
                          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                          result="hardAlpha"
                        />
                        <feOffset dy="0.25" />
                        <feGaussianBlur stdDeviation="6" />
                        <feColorMatrix
                          type="matrix"
                          values="0 0 0 0 0 0 0 0 0 0.875 0 0 0 0 0.735 0 0 0 0.4 0"
                        />
                        <feBlend
                          mode="normal"
                          in2="effect1_dropShadow_1402_4216"
                          result="effect2_dropShadow_1402_4216"
                        />
                        <feBlend
                          mode="normal"
                          in="SourceGraphic"
                          in2="effect2_dropShadow_1402_4216"
                          result="shape"
                        />
                      </filter>
                      <linearGradient
                        id="paint0_linear_1402_4216"
                        x1="18.7144"
                        y1="-0.000244141"
                        x2="18.7144"
                        y2="35.9998"
                        gradientUnits="userSpaceOnUse"
                      >
                        <stop stop-color="#3AD7A3" />
                        <stop offset="0.34375" stop-color="#3ED2B5" />
                        <stop offset="0.645833" stop-color="#3ECDC6" />
                        <stop offset="1" stop-color="#3AC8D7" />
                      </linearGradient>
                    </defs>
                  </svg>
  
                  <div class="calendar__label4">17</div>
                </div>
              </div>
              <div class="calendar___18">
                <div class="calendar__range-container">
                  <div class="calendar__label3">18</div>
                </div>
              </div>
              <div class="calendar___19">
                <div class="calendar__range-container">
                  <div class="calendar__label3">19</div>
                </div>
              </div>
              <div class="calendar___20">
                <div class="calendar__range-container">
                  <div class="calendar__label3">20</div>
                </div>
              </div>
              <div class="calendar___21">
                <div class="calendar__range-container">
                  <div class="calendar__label3">21</div>
                </div>
              </div>
              <div class="calendar___22">
                <div class="calendar__range-container">
                  <div class="calendar__label3">22</div>
                </div>
              </div>
            </div>
            <div class="calendar__row">
              <div class="calendar___23">
                <div class="calendar__range-container">
                  <div class="calendar__label3">23</div>
                </div>
              </div>
              <div class="calendar___24">
                <div class="calendar__range-container">
                  <div class="calendar__label3">24</div>
                </div>
              </div>
              <div class="calendar___25">
                <div class="calendar__range-container">
                  <div class="calendar__label3">25</div>
                </div>
              </div>
              <div class="calendar___26">
                <div class="calendar__range-container">
                  <div class="calendar__label3">26</div>
                </div>
              </div>
              <div class="calendar___27">
                <div class="calendar__range-container">
                  <div class="calendar__label3">27</div>
                </div>
              </div>
              <div class="calendar___28">
                <div class="calendar__range-container">
                  <div class="calendar__label3">28</div>
                </div>
              </div>
              <div class="calendar___29">
                <div class="calendar__range-container">
                  <div class="calendar__label3">29</div>
                </div>
              </div>
            </div>
            <div class="calendar__row">
              <div class="calendar___30">
                <div class="calendar__range-container">
                  <div class="calendar__label3">30</div>
                </div>
              </div>
              <div class="calendar___31">
                <div class="calendar__range-container">
                  <div class="calendar__label3">31</div>
                </div>
              </div>
              <div class="calendar__day-selection-unselected">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
              <div class="calendar__day-selection-unselected">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
              <div class="calendar__day-selection-unselected">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
              <div class="calendar__day-selection-unselected">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
              <div class="calendar__day-selection-unselected">
                <div class="calendar__range-container">
                  <div class="calendar__label3">1</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<style type="text/css">
.calendar::before{
  display: block;
  position: absolute;
  content: " ";
  width: 480px;
  height: 480px;

  background-image: url("/asset/img/calendar_bg.svg");
  background-size: cover;

}

.calendar {

  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}
.calendar__date-picker {
  border-radius: var(--outer_radius);
  /* border-radius: 10px; */
  background-color: var(--steel-grey, #f3f5f9);
  padding: 16px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(--shadow-box-shadow);
}
.calendar__content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.calendar__controls {
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.calendar__arrows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.calendar__button-icon-button {
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.calendar__icon {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.calendar__dropdown {
  padding: 12px 12px 12px 0px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 62px;
  position: relative;
  overflow: hidden;
}
.calendar__label {
  color: var(--black, #333238);
  text-align: left;
  font: 700 20px/20px "Golos Text VF", sans-serif;
  position: relative;
}
.calendar__arrow-filled-down {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.calendar__icon3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.calendar__weekdays {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.calendar__label2 {
  color: var(--black, #333238);
  text-align: center;
  font: 700 16px/16px "Golos Text VF", sans-serif;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar__calendar2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.calendar__day-calendar {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow-y: auto;
}
.calendar__row {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.calendar__day-selection-unselected {
  opacity: 0;
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar__range-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.calendar__label3 {
  color: var(--black, #333238);
  text-align: center;
  font: 400 16px/20px "Golos Text VF", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar___01 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___02 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___03 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___04 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___05 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___06 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___07 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___08 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___09 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___10 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___11 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___12 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___13 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___14 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___15 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___16 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___17 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.calendar__shape {
  flex-shrink: 0;
  position: absolute;
  left: calc(50% - 17.86px);
  top: calc(50% - 18px);
  overflow: visible;
}
.calendar__label4 {
  color: var(--white, #ffffff);
  text-align: center;
  font: 400 16px/20px "Golos Text VF", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar___18 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___19 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___20 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___21 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___22 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___23 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___24 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___25 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___26 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___27 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___28 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___29 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___30 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.calendar___31 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}

</style>