---
---
<div class="frame-33">
    <div class="frame-33__frame-148">
      <div class="frame-33__header">
        <div class="frame-33__title-and-icon">
          <div class="frame-33__button-icon-button">
            <svg
              class="frame-33__icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.41 7.41L14 6L8 12L14 18L15.41 16.59L10.83 12L15.41 7.41Z"
                fill="#333238"
              />
            </svg>
          </div>
          <div class="frame-33__frame-15">
            <div class="frame-33__frame-13">
              <div class="frame-33__title">Вторник</div>
            </div>
            <div class="frame-33__frame-14">
              <div class="frame-33__title2">17</div>
            </div>
          </div>
          <div class="frame-33__frame-151">
            <div class="frame-33__arrows">
              <div class="frame-33__button-icon-button">
                <svg
                  class="frame-33__icon3"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.58984 7.41L9.99984 6L15.9998 12L9.99984 18L8.58984 16.59L13.1698 12L8.58984 7.41Z"
                    fill="#333238"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-33__frame-419">
      <div class="frame-33__frame-38">
        <div class="frame-33__link">
          <div class="frame-33__frame-445">
            <div class="frame-33__frame-1">
              <div class="frame-33__title3">08:00</div>
            </div>
          </div>
          <div class="frame-33__frame-29">
            <div class="frame-33__title4">Лекции об охране труда</div>
            <div class="frame-33__frame-446">
              <svg
                class="frame-33__pin-alt"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.3332 6.66671C13.3332 9.61223 7.99984 14.6667 7.99984 14.6667C7.99984 14.6667 2.6665 9.61223 2.6665 6.66671C2.6665 3.72119 5.05432 1.33337 7.99984 1.33337C10.9454 1.33337 13.3332 3.72119 13.3332 6.66671Z"
                  fill="#999CA4"
                />
                <path
                  d="M8.00016 7.33333C8.36835 7.33333 8.66683 7.03486 8.66683 6.66667C8.66683 6.29848 8.36835 6 8.00016 6C7.63197 6 7.3335 6.29848 7.3335 6.66667C7.3335 7.03486 7.63197 7.33333 8.00016 7.33333Z"
                  fill="#F3F5F9"
                  stroke="#F3F5F9"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
  
              <div class="frame-33__title5">2-й корпус, кабинет 52</div>
            </div>
            <div class="frame-33__frame-12">
              <div class="frame-33__link2">
                <div class="frame-33__title6">
                  Рассмотрим в чем заключается охрана труда
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-33__frame-36">
        <div class="frame-33__link">
          <div class="frame-33__frame-445">
            <div class="frame-33__frame-16">
              <div class="frame-33__title3">12:00</div>
            </div>
          </div>
          <div class="frame-33__frame-29">
            <div class="frame-33__title7">Лекции об охране труда</div>
            <div class="frame-33__frame-446">
              <svg
                class="frame-33__pin-alt2"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.3332 6.66671C13.3332 9.61223 7.99984 14.6667 7.99984 14.6667C7.99984 14.6667 2.6665 9.61223 2.6665 6.66671C2.6665 3.72119 5.05432 1.33337 7.99984 1.33337C10.9454 1.33337 13.3332 3.72119 13.3332 6.66671Z"
                  fill="url(#paint0_linear_595_41949)"
                />
                <path
                  d="M8.00016 7.33333C8.36835 7.33333 8.66683 7.03486 8.66683 6.66667C8.66683 6.29848 8.36835 6 8.00016 6C7.63197 6 7.3335 6.29848 7.3335 6.66667C7.3335 7.03486 7.63197 7.33333 8.00016 7.33333Z"
                  fill="#F3F5F9"
                  stroke="#F3F5F9"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_595_41949"
                    x1="7.99984"
                    y1="1.33337"
                    x2="7.99984"
                    y2="14.6667"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#3AD7A3" />
                    <stop offset="0.34375" stop-color="#3ED2B5" />
                    <stop offset="0.645833" stop-color="#3ECDC6" />
                    <stop offset="1" stop-color="#3AC8D7" />
                  </linearGradient>
                </defs>
              </svg>
  
              <div class="frame-33__title8">2-й корпус, кабинет 52</div>
            </div>
            <div class="frame-33__frame-12">
              <div class="frame-33__link2">
                <div class="frame-33__title9">
                  Рассмотрим в чем заключается охрана труда
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-33__frame-39">
        <div class="frame-33__link">
          <div class="frame-33__frame-445">
            <div class="frame-33__frame-16">
              <div class="frame-33__title3">14:00</div>
            </div>
          </div>
          <div class="frame-33__frame-29">
            <div class="frame-33__title7">Лекции об охране труда</div>
            <div class="frame-33__frame-446">
              <svg
                class="frame-33__pin-alt3"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.3332 6.66671C13.3332 9.61223 7.99984 14.6667 7.99984 14.6667C7.99984 14.6667 2.6665 9.61223 2.6665 6.66671C2.6665 3.72119 5.05432 1.33337 7.99984 1.33337C10.9454 1.33337 13.3332 3.72119 13.3332 6.66671Z"
                  fill="url(#paint0_linear_1402_5986)"
                />
                <path
                  d="M8.00016 7.33333C8.36835 7.33333 8.66683 7.03486 8.66683 6.66667C8.66683 6.29848 8.36835 6 8.00016 6C7.63197 6 7.3335 6.29848 7.3335 6.66667C7.3335 7.03486 7.63197 7.33333 8.00016 7.33333Z"
                  fill="#F3F5F9"
                  stroke="#F3F5F9"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_1402_5986"
                    x1="7.99984"
                    y1="1.33337"
                    x2="7.99984"
                    y2="14.6667"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#3AD7A3" />
                    <stop offset="0.34375" stop-color="#3ED2B5" />
                    <stop offset="0.645833" stop-color="#3ECDC6" />
                    <stop offset="1" stop-color="#3AC8D7" />
                  </linearGradient>
                </defs>
              </svg>
  
              <div class="frame-33__title8">2-й корпус, кабинет 52</div>
            </div>
            <div class="frame-33__frame-12">
              <div class="frame-33__link2">
                <div class="frame-33__title9">
                  Рассмотрим в чем заключается охрана труда
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .frame-33,
.frame-33 * {
  box-sizing: border-box;
}
.frame-33 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-33__frame-148 {
  border-style: solid;
  border-color: var(--dark-grey, #e1e4e9);
  border-width: 0px 0px 1px 0px;
  padding: 0px 0px 0px 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 480px;
  position: relative;
}
.frame-33__header {
  border-radius: 10px;
  padding: 8px 0px 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 297px;
  position: relative;
}
.frame-33__title-and-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 298px;
  position: relative;
}
.frame-33__button-icon-button {
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-33__icon {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-33__frame-15 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-33__frame-13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-33__title {
  color: var(--black, #333238);
  text-align: left;
  font: 700 20px/40px "Golos Text VF", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-33__frame-14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-33__title2 {
  color: var(--black, #333238);
  text-align: left;
  font: 700 20px/40px "Golos Text VF", sans-serif;
  text-transform: uppercase;
  position: relative;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-33__frame-151 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-33__arrows {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-33__icon3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-33__frame-419 {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 480px;
  position: relative;
}
.frame-33__frame-38 {
  padding: 8px 8px 4px 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-33__link {
  border-radius: 10px;
  padding: 4px 5px 4px 5px;
  display: flex;
  flex-direction: row;
  gap: 39px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-33__frame-445 {
  padding: 3px 0px 3px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 49px;
  position: relative;
}
.frame-33__frame-1 {
  background: var(--disable-grey, #999ca4);
  border-radius: 10px;
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 65px;
  position: relative;
  overflow: hidden;
}
.frame-33__title3 {
  color: var(--steel-grey, #f3f5f9);
  text-align: left;
  font: 700 14px/116% "Golos Text VF", sans-serif;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-33__frame-29 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-33__title4 {
  color: var(--disable-grey, #999ca4);
  text-align: left;
  font: 700 16px/116% "Golos Text VF", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-33__frame-446 {
  padding: 6px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-33__pin-alt {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-33__title5 {
  color: var(--disable-grey, #999ca4);
  text-align: left;
  font: 400 12px/116% "Golos Text VF", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-33__frame-12 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-33__link2 {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-33__title6 {
  color: var(--disable-grey, #999ca4);
  text-align: left;
  font: 400 12px/150% "Golos Text VF", sans-serif;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-33__frame-36 {
  padding: 8px 8px 4px 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-33__frame-16 {
  background: var(
    --accent-grad-1,
    linear-gradient(
      180deg,
      rgba(58, 215, 163, 1) 0%,
      rgba(62, 210, 181, 1) 34.375%,
      rgba(62, 205, 198, 1) 64.58333134651184%,
      rgba(58, 200, 215, 1) 100%
    )
  );
  border-radius: 10px;
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 65px;
  position: relative;
  overflow: hidden;
}
.frame-33__title7 {
  color: var(--black, #333238);
  text-align: left;
  font: 700 16px/116% "Golos Text VF", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-33__pin-alt2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-33__title8 {
  color: var(--black, #333238);
  text-align: left;
  font: 400 12px/116% "Golos Text VF", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-33__title9 {
  color: var(--black, #333238);
  text-align: left;
  font: 400 12px/150% "Golos Text VF", sans-serif;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-33__frame-39 {
  padding: 8px 8px 4px 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-33__pin-alt3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

  </style>