---
import Panel from "../Panel.astro"
import Button from "../Button.astro";
import Card from "../Card.astro";
---
<div class="flex gap-8 flex-col  py-16 px-4 lg:px-16 xl:px-32">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 pb-8">
        <Panel class="flex flex-col">
            <h4 class="pl-3 font-bold text-lg/6 uppercase text-main-900">Поставляем больше <wbr />500 брендов</h4>
            <p class="pl-3 text-md font-normal">Полный список можно посмотреть на сайте</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto " title="Полный список брендов" url="https://www.santech.ru/brands/"/> 
        </Panel>
        <Panel class="flex flex-col">
            <h4 class="pl-3 font-bold text-lg/6 uppercase text-main-900">БОЛЬШЕ 70 000 <wbr />НАИМЕНОВАНИЙ ПРОДУКЦИИ</h4>
            <p class="pl-3 text-md font-normal">У нас постоянно обновляется ассортимент товаров</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Перейти в каталог" url=""/> 
        </Panel>
        <Panel class="flex flex-col">
            <h4 class="pl-3 font-bold text-lg/6 uppercase text-main-900">БОЛЬШЕ 1 000 000 М2 СКЛАДСКИХ ПОМЕЩЕНИЙ</h4>
            <p class="pl-3 text-md font-normal">Из них 200 000 м2 — теплые</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть схему" url=""/> 
        </Panel>
    </div>

    <h3 class="pl-7 pt-4 text-2xl uppercase font-extrabold tracking-wide  text-main-900">ДВЕНАДЦАТЬ СОБСТВЕННЫХ ТОРГОВЫХ МАРОК</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 pb-8">
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/Ogint.svg" alt=""/>
            </div>
            <p class="pl-3 text-md font-normal">Отопительное и насосное оборудование: биметаллические, алюминиевые, чугунные радиаторы и комплектующие; циркуляционные, повысительные, дренажные и фекальные насосы </p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть продукцию" url="https://www.santech.ru/brands/ogint/"/> 
        </Panel>
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/POC.svg" alt=""/>
            </div>
            <p class="pl-3 text-md font-normal">Инженерное оборудование для внутренних систем водоснабжения и отопления — трубы PEX-а, фитинги, коллекторные узлы собственной сборки</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть продукцию" url="https://www.santech.ru/brands/ros"/> 
        </Panel>
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/Aquasfera.svg" alt=""/>
            </div>
            <p class="pl-3 text-md font-normal">Инженерная сантехника для систем водоснабжения и отопления — запорная и регулирующая арматура, латунные фитинги, металлопластиковые трубы и фитинги, фильтры и клапаны</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть продукцию" url="https://www.santech.ru/brands/aquasfera/"/> 
        </Panel>
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/Heaton.svg" alt=""/>
            </div>
            <p class="pl-3 text-md font-normal">Стальные панельные радиаторы</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть продукцию" url="https://www.santech.ru/brands/heaton/"/> 
        </Panel>

        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/Benarmo.svg" alt=""/>
            </div>
            <p class="pl-3 text-md font-normal">Запорная арматура </p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть продукцию" url="https://www.santech.ru/brands/benarmo/"/> 
        </Panel>
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/Forteca.svg" alt=""/>
            </div>
            <p class="pl-3 text-md font-normal">Стальная и чугунная арматура — краны шаровые, задвижки, клапаны</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть продукцию" url="https://www.santech.ru/brands/forteca/"/> 
        </Panel>
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/SantechSystems.svg" alt=""/>
            </div>
            <p class="pl-3 text-md font-normal">Латунные шаровые краны и фитинги, воздухоотводчики</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть продукцию" url="https://www.santech.ru/brands/santechsystems/"/> 
        </Panel>
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/Slaven.svg" alt=""/>
            </div>
            <p class="pl-3 text-md font-normal">Смесители российской сборки для ванных комнат, душевых кабин и кухни</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть продукцию" url="https://www.santech.ru/brands/slaven/"/> 
        </Panel>
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/Selena.svg" alt=""/>
            </div>
            <p class="pl-3 text-md font-normal">Чугунные и стальные поддоны и ванны для комплектации объектов</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть продукцию" url="https://www.santech.ru/brands/selena/"/> 
        </Panel>
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/Fittex.svg" alt=""/>
            </div>
            <p class="pl-3 text-md font-normal">Чугунные фитинги</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть продукцию" url="https://www.santech.ru/brands/fittex-plus/"/> 
        </Panel>
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/Strongman.svg" alt=""/>
            </div>
            <p class="pl-3 text-md font-normal">Стальные хомуты для труб</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Посмотреть продукцию" url="https://www.santech.ru/brands/strongman/"/> 
        </Panel>
    </div>

    <h3 class="pl-7 pt-4 text-2xl uppercase font-extrabold tracking-wide text-main-900">ДВА ПРОИЗВОДСТВЕННЫХ ПРЕДПРИЯТИЯ</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 pb-8">
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/Kruaz.svg" alt=""/>
            </div>
            <h4 class="pl-3 font-bold text-lg/6 uppercase text-main-900 ">КРУПИНСКИЙ АРМАТУРНЫЙ ЗАВОД</h4>
            <p class="pl-3 text-md font-normal">Производство изделий трубной заготовки, отводов и переходов из труб ВГП ГОСТ 3262-75</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Полный список брендов" url=""/> 
        </Panel>
        <Panel class="flex flex-col">
            <div class="relative">
                <img class="pl-3 h-16" src="/assets/icons/Kraaz.svg" alt=""/>
            </div>
            <h4 class="pl-3 font-bold text-lg/6 uppercase text-main-900 ">КРАСНОКУТСКИЙ АРМАТУРНЫЙ ЗАВОД</h4>
            <p class="pl-3 text-md font-normal">Производство арматуры из цветных сплавов для трубопроводов, кранов 11б6бк с Ду 15 мм по Ду 50 мм</p>
            <Button class="hover:bg-gray-200 text-gray-900 border border-gray-300 mt-auto" title="Полный список брендов" url=""/> 
        </Panel>
    </div>
</div>