<!-- <div class="w-96 h-96 px-56 pt-32 bg-slate-100 flex-col justify-end items-start gap-64 inline-flex">
    <div class="w-96 h-96 relative">
      <div class="w-96 h-36 px-16 py-12 left-[148px] top-0 absolute bg-slate-100 rounded-3xl justify-start items-start gap-12 inline-flex">
        <div class="text-cyan-800 text-5xl font-black font-['Golos Text VF'] uppercase leading-10 tracking-widest">Как мы работаем?</div>
      </div>
      <div class="w-96 h-72 left-0 top-[206.19px] absolute flex-col justify-start items-center gap-32 inline-flex">
        <div class="w-96 text-center text-cyan-800 text-3xl font-bold font-['Golos Text VF'] uppercase leading-10 tracking-wider">Работу с клиентом начинаем       через один из трех инструментов</div>
        <div class="justify-start items-start gap-28 inline-flex">
          <div class="p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Контакт-центр</div>
          </div>
          <div class="p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Продажи</div>
          </div>
          <div class="p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Технический отдел</div>
          </div>
        </div>
      </div>
    </div>
    <div class="self-stretch flex-col justify-start items-center gap-32 inline-flex">
      <div class="w-96 text-center text-cyan-800 text-3xl font-bold font-['Golos Text VF'] uppercase leading-10 tracking-wider">продажи взаимодействуют     с Отделом закупок чтобы полностью укомплектовать клиента  </div>
      <div class="w-96 h-96 relative">
        <div class="left-0 top-0 absolute justify-center items-start gap-28 inline-flex">
          <div class="self-stretch p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Контакт-центр</div>
          </div>
          <div class="self-stretch p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Продажи</div>
          </div>
          <div class="self-stretch p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Технический отдел</div>
          </div>
        </div>
        <div class="w-96 pl-72 pr-96 left-0 top-[253px] absolute justify-start items-center inline-flex">
          <div class="self-stretch p-6 rounded-3xl flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Отдел закупок</div>
          </div>
        </div>
      </div>
    </div>
    <div class="self-stretch flex-col justify-start items-center gap-32 inline-flex">
      <div class="w-96 text-center text-cyan-800 text-3xl font-bold font-['Golos Text VF'] uppercase leading-10 tracking-wider">После передают заказ     на комплектацию в склад</div>
      <div class="w-96 h-72 relative">
        <div class="left-0 top-0 absolute justify-center items-start gap-28 inline-flex">
          <div class="self-stretch p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Контакт-центр</div>
          </div>
          <div class="self-stretch p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Продажи</div>
          </div>
          <div class="self-stretch p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Технический отдел</div>
          </div>
        </div>
        <div class="w-96 h-28 left-[-9.50px] top-[220px] absolute">
          <div class="p-2.5 left-[233.50px] top-0 absolute flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Отдел закупок</div>
          </div>
          <div class="p-2.5 left-[593.50px] top-0 absolute flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Склад</div>
          </div>
          <div class="w-24 h-px left-[486.29px] top-[83.87px] absolute border border-black"></div>
        </div>
      </div>
    </div>
    <div class="self-stretch flex-col justify-start items-center gap-32 inline-flex">
      <div class="w-96 text-center text-cyan-800 text-3xl font-bold font-['Golos Text VF'] uppercase leading-10 tracking-wider">Со склада заказ забирает клиент или доставляет наша транспортная служба</div>
      <div class="w-96 h-72 relative">
        <div class="left-0 top-0 absolute justify-center items-start gap-28 inline-flex">
          <div class="self-stretch p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Контакт-центр</div>
          </div>
          <div class="self-stretch p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Продажи</div>
          </div>
          <div class="self-stretch p-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Технический отдел</div>
          </div>
        </div>
        <div class="w-96 h-28 left-0 top-[201px] absolute">
          <div class="p-2.5 left-[3px] top-[22px] absolute flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Отдел закупок</div>
          </div>
          <div class="p-2.5 left-[379px] top-[22px] absolute flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Склад</div>
          </div>
          <div class="p-2.5 left-[673px] top-[98.53px] absolute flex-col justify-start items-center gap-2.5 inline-flex">
            <div class="w-12 h-12 relative"></div>
            <div class="text-center text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">транспортная           служба</div>
          </div>
          <div class="w-52 h-px left-[516.10px] top-[94.59px] absolute origin-top-left rotate-[-13.61deg] border border-black"></div>
        </div>
        <div class="w-12 h-12 left-[275.60px] top-[109.28px] absolute origin-top-left rotate-[16.11deg]"></div>
        <div class="p-2.5 left-[729px] top-[162px] absolute flex-col justify-start items-center gap-2.5 inline-flex">
          <div class="w-12 h-12 relative"></div>
          <div class="text-cyan-800 text-2xl font-extrabold font-['Golos Text VF'] uppercase leading-7 tracking-wide">Клиент</div>
        </div>
      </div>
    </div>
  </div> -->