<div class="w-full mt-96 flex flex-col gap-16"> 
  <div class="w-[80%] lg:w-[800px] mx-auto pb-32">
    <svg xmlns="http://www.w3.org/2000/svg" class="text-main-900" viewBox="0 0 758 53" fill="currentColor">
      <path d="M174.564 35.8103C172.029 41.7013 166.217 48.7126 154.458 48.7126C141.137 48.7126 130.827 39.4414 130.827 25.8824C130.827 12.3234 141.137 3.05224 154.458 3.05224C166.217 3.05224 171.953 9.79313 174.564 15.8966L163.205 21.2662C162.1 17.8281 158.708 14.8343 154.458 14.8343C148.455 14.8343 144.205 19.7403 144.205 25.8824C144.205 32.0245 148.455 36.9305 154.458 36.9305C158.708 36.9305 162.1 33.956 163.205 30.518L174.564 35.8103ZM205.951 3.7862L222.016 47.9207H207.723L206.027 42.2228H189.314L187.618 47.9207H173.325L189.371 3.7862H205.951ZM202.616 31.1167L197.642 15.5683L192.687 31.1167H202.616ZM253.136 19.4119H237.529V3.7862H224.341V47.9207H237.529V31.0395H253.136V47.9207H266.324V3.7862H253.136V19.4119ZM282.713 47.94H295.901V15.4331H307.526V3.7862H271.031V15.4331H282.713V47.9207V47.94ZM345.259 36.8146H325.401V31.194H344.801V20.0686H325.401V14.9116H345.259V3.7862H312.214V47.9207H345.259V36.7953V36.8146ZM361.972 47.94L369.938 34.4389L377.904 47.94H393.455L378.895 25.245L392.483 3.80552H376.875L369.957 16.3795L362.906 3.80552H347.431L361.019 25.3223L346.459 47.9593H362.01L361.972 47.94ZM408.986 35.6944L411.387 32.3915L421.183 47.94H437.248L420.077 24.3179L436.524 3.80552H420.401L408.986 20.3584V3.7862H395.799V47.9207H408.986V35.675V35.6944ZM434.637 25.9017C434.637 12.3427 445.023 3.07155 458.459 3.07155C471.894 3.07155 482.299 12.3427 482.299 25.9017C482.299 39.4608 471.913 48.7319 458.459 48.7319C445.004 48.7319 434.637 39.4608 434.637 25.9017ZM448.015 25.9017C448.015 32.0632 452.132 36.9498 458.459 36.9498C464.786 36.9498 468.902 32.0632 468.902 25.9017C468.902 19.7403 464.786 14.8536 458.459 14.8536C452.132 14.8536 448.015 19.7403 448.015 25.9017ZM500.175 20.0686L509.913 47.94H515.783L525.521 20.0686V47.94H538.708V3.7862H520.49L512.848 26.288L505.206 3.7862H486.987V47.9207H500.175V20.0493V20.0686ZM558.928 15.4331H574.536V47.9207H587.724V3.7862H545.741V47.9207H558.928V15.4331ZM614.404 19.9721L621.95 47.8048H636.91L622.694 3.67031H606.114L591.916 47.8048H606.857L614.404 19.9721ZM674.148 36.7953H654.29V31.1747H673.691V20.0493H654.29V14.8923H674.148V3.7862H641.122V47.9207H674.148V36.7953ZM693.205 35.675L695.625 32.3722L705.421 47.9207H721.486L704.315 24.2986L720.762 3.7862H704.639L693.205 20.339V3.7862H680.018V47.9207H693.205V35.675ZM733.149 47.9207H746.337V15.4331H757.962V3.7862H721.467V15.4331H733.149V47.9207ZM23.44 19.1608L48.767 0.000488281H72.4551L31.9204 30.6725C28.7951 33.0289 24.3357 32.3915 22.0107 29.2239C20.8673 27.6787 20.3908 25.8052 20.6767 23.893C20.9435 22.0001 21.9345 20.3197 23.459 19.1608H23.44ZM44.0789 47.5344L107.196 0.000488281H83.3749L35.8272 35.9841C33.3307 37.8769 30.3768 38.7654 27.4611 38.7268C23.3828 38.6688 19.3808 36.7567 16.7509 33.2027C14.5784 30.2476 13.6636 26.6164 14.1782 22.9466C14.6927 19.296 16.5985 16.0705 19.5142 13.8686L37.8472 0.000488281H14.4069L11.1672 2.43416C-1.10568 11.686 -3.65935 29.2432 5.46905 41.682C14.5593 54.0821 31.8252 56.6896 44.098 47.5344H44.0789ZM106.167 52.112L85.5665 24.2793L73.6557 33.2993L88.1011 52.1313H106.167V52.112ZM56.6186 46.2017L60.9827 52.112H79.6397L68.4912 37.2202L56.6186 46.2017Z" fill="#165080"/>
    </svg>
    <p class=" pt-2 text-left uppercase relative flex items-center justify-start text-2xl md:text-3xl pl-[18%] lg:text-4xl leading-tight font-light lg:pt-4 lg:pl-[145px] text-gray-900"
    >
      Производитель <br />и комплексный поставщик <br />инженерного
      оборудования
    </p>
  </div>


  <!--  -->

  <div class="mx-auto flex items-center gap-16 relative px-8">
    <div class="absolute h-96 w-96 -z-50 bg-gradient-to-b from-gray-300 to-gray-100 rounded-4xl bottom-52 rotate-12 right-16"></div>
    <div class="pl-4 lg:pl-0">
      <h3 class="pb-4 uppercase font-bold tracking-wide text-lg md:text-xl leading-tight">
        Наш холдинг предлагает <br />комплекс решений для:<br />
      </h3>
      <ul class="list-disc text-lg">
        <li>строительства новых объектов</li>
        <li>реконструкции и эксплуатации жилья</li>
        <li>введения в эксплуатацию тепловых пунктов</li>
        <li>торговли инженерным оборудованием</li>
        <li>розничного сегмента бизнеса</li>
      </ul>
    </div>
    <div class="">
      <img src="/img/main_1.jpg" alt="" class="rounded-4xl h-48 object-cover md:h-64 lg:h-96">
    </div>
  </div>

  <!--  -->


  <div class="mx-auto flex items-center gap-32 relative">
    <div class="absolute h-96 w-96 -z-50 bg-gradient-to-b from-gray-300 to-gray-100 rounded-4xl bottom-52 -rotate-45 left-16"></div>
    <div class="order-2 pr-4 lg:pr-0">
      <h3 class="pb-4 uppercase font-bold tracking-wide text-lg md:text-xl leading-tight">
        Ключевое преимущество холдинга — <br />возможность комплектации
              <br />инженерных систем на 100%:
      </h3>
        <ul class="list-disc  text-lg">
          <li>водоснабжение</li>
          <li>водоотведение</li>
          <li>отопление</li>
          <li>тепловые пункты, холодо- и теплоснабжение</li>
          <li>пожаротушение</li>
          <li>санитарные узлы</li>
        </ul>
    </div>
    <div class="order-1 pl-4 lg:pl-0">
      <img src="/img/main_2.jpg" alt="" class="w-48 md:w-64 rounded-4xl ">
      <img src="/img/main_3.jpg" alt="" class="w-96 rounded-4xl relative -top-16 left-16 border-16 border-gray-100">
    </div>
  </div>

  <!--  -->
</div>
<!-- <div
    class="bg-steel-grey pt-[172px] pb-[172px] flex flex-col gap-2.5 items-center justify-start self-stretch shrink-0 relative"
  >
    <div
      class="flex flex-col gap-[45px] items-start justify-start shrink-0 relative"
    >


      <div
        class="pl-[135px] flex flex-row gap-2.5 items-start justify-start shrink-0 relative"
      >

      </div>
    </div>
  </div>

  
  <div
    class="bg-steel-grey pt-48 pr-2.5 pb-[164px] pl-2.5 self-stretch shrink-0 h-[1162px] relative"
  >
    <div
      class="pt-4 pb-4 w-[1113px] h-[412.08px] absolute left-[103.5px] top-[99px]"
    >
      <div
        class="text-left absolute left-0 top-[-46.46px] w-[722.92px] flex items-center justify-start"
      >

      </div>
      <div
        class="w-[308.8px] h-[308.8px] absolute left-[816.71px] top-[-77.03px]"
        style="
          background: var(
            --grad-grey,
            linear-gradient(
              180deg,
              rgba(225, 228, 233, 1) 0%,
              rgba(248, 248, 248, 1) 100%
            )
          );
          transform-origin: 0 0;
          transform: rotate(15.497deg) scale(1, 1);
        "
      ></div>
    </div>
    <div
      class="pt-4 pb-4 flex flex-row gap-2.5 items-end justify-center w-[1113px] absolute left-[558px] top-[547px]"
    >
      <div class="text-left relative flex-1 flex items-center justify-start">
        <span
          ><span class="title-2-span"
            >КЛЮЧЕВОЕ ПРЕИМУЩЕСТВО ХОЛДИНГА — <br />ВОЗМОЖНОСТЬ КОМПЛЕКТАЦИИ
            <br />ИНЖЕНЕРНЫХ СИСТЕМ НА 100%:<br /></span
          ><span class="title-2-span2"
            >
            <li>водоснабжение</li>
            <li>водоотведение</li>
            <li>отопление</li>
            <li>тепловые пункты, холодо- и теплоснабжение</li>
            <li>пожаротушение</li>
            <li>санитарные узлы</li>.
            </span
          ></span
        >
      </div>
    </div>
    <img
      class="rounded-3xl w-[727.2px] h-[484.42px] absolute left-[670px] top-[-63.21px]"
      src="image-34.png"
    />
    <div class="absolute" style="inset: 0">
      <div
        class="rounded-3xl w-[371.94px] h-[371.94px] absolute left-[63.58px] top-[645.87px]"
        style="
          background: var(
            --grad-grey,
            linear-gradient(
              180deg,
              rgba(225, 228, 233, 1) 0%,
              rgba(248, 248, 248, 1) 100%
            )
          );
          transform-origin: 0 0;
          transform: rotate(-15.583deg) scale(1, 1);
        "
      ></div>
      <img
        class="rounded-3xl w-[261.7px] h-[352.47px] absolute left-[120.54px] top-[527.27px]"
        src="image-32.png"
      /><img
        class="rounded-3xl border-solid border-steel-grey border-[11px] w-[322.33px] h-[215.16px] absolute left-[208.72px] top-[777.68px]"
        src="image-33.png"
      />
    </div>
  </div> -->
