---

const {photos,id, class:className, ...attributes } = Astro.props;
const photoset = [
  {
    src:"/santech-portal/img/Story/Gallery/1992 1-1.jpg",
    alt:""
  },
  {
    src:"/santech-portal/img/Story/Gallery/1992 1.jpg",
    alt:""
  },
  {
    src:"/santech-portal/img/Story/Gallery/1994 гидрозатвор 1-1.jpg",
    alt:""
  },
  {
    src:"/santech-portal/img/Story/Gallery/1994 гидрозатвор 1.jpg",
    alt:""
  },
  {
    src:"/santech-portal/img/Story/Gallery/1996 жд 2.jpg",
    alt:""
  },
  {
    src:"/santech-portal/img/Story/Gallery/1996 жд 2.jpg",
    alt:""
  },
];
---
<div class="">
  <div {...attributes} class="splide flex gap-16 h-96 items-center">
    <div class="splide__track">
      <ul class="splide__list">
        {
          photoset.map((photo)=>(
          <li class="[&_img]:hover:scale-[1.1] [&_img]:hover:z-50 splide__slide py-8">
            <img loading="lazy" class="transition duration-300 rounded-3xl shadow-lg  h-80" src={photo.src}/>
          </li>
          )
          )
        }
      </ul>
    </div>
     
  </div>
</div>
