---
const {photos, class:className} = Astro.props;
---
<div  class:list={["overflow-x-auto overflow-y-visible",className]}>
  <div class="flex gap-16 py-8  bg-gray-300 w-[200vw] h-96">
      <div class="[&_img]:hover:scale-[1.1] [&_img]:hover:z-50">
        <img loading="lazy" class="transition duration-300 rounded-3xl shadow-lg  h-80" src="/img/Story/Gallery/1992 1-1.jpg"/>
      </div>
      <div class="[&_img]:hover:scale-[1.1] [&_img]:hover:z-50">
        <img loading="lazy" class="transition duration-300 rounded-3xl shadow-lg h-80" src="/img/Story/Gallery/1992 1.jpg" />
      </div>
      <div class="[&_img]:hover:scale-[1.1] [&_img]:hover:z-50">
        <img loading="lazy" class="transition duration-300 rounded-3xl shadow-lg  h-80" src="/img/Story/Gallery/1994 гидрозатвор 1-1.jpg"/>
      </div>
      <div class="[&_img]:hover:scale-[1.1] [&_img]:hover:z-50">
        <img loading="lazy" class="transition duration-300 rounded-3xl shadow-lg  h-80" src="/img/Story/Gallery/1994 гидрозатвор 1.jpg"/>
      </div>
      <div class="[&_img]:hover:scale-[1.1] [&_img]:hover:z-50">
        <img loading="lazy" class="transition duration-300 rounded-3xl shadow-lg  h-80" src="/img/Story/Gallery/1996 жд 2.jpg"/>
      </div>
      <div class="[&_img]:hover:scale-[1.1] [&_img]:hover:z-50">
        <img loading="lazy" class="transition duration-300 rounded-3xl shadow-lg  h-80" src="/img/Story/Gallery/1996 жд 2.jpg"/>
      </div>
      
  </div>
</div>
<!-- <div
      class="pt-8 pb-8 flex flex-col gap-2.5 items-start justify-start shrink-0 h-[659.57px] min-w-[1200px] max-w-[2400px] relative"
      style="
        background: linear-gradient(
          87.15deg,
          rgba(204, 212, 217, 1) 0%,
          rgba(228, 232, 234, 1) 51.04166865348816%,
          rgba(228, 232, 234, 1) 100%
        );
        overflow-x: auto;
      "
    >
      <div
        class="pr-8 pl-8 flex flex-row gap-9 items-center justify-start flex-1 relative"
        style="
          box-shadow: var(
            --shadow-soft-box-shadow,
            0px 2.75px 9px 0px rgba(0, 0, 0, 0.12),
            0px 0.25px 3px 0px rgba(0, 0, 0, 0.02)
          );
        "
      >
        <div
          class="flex flex-col gap-6 items-start justify-center self-stretch shrink-0 w-[360px] relative"
        >
          <img
            class="rounded-corner-main self-stretch flex-1 relative"
            src="_1992-1.png"
          /><img
            class="rounded-corner-main self-stretch flex-1 relative"
            src="_1994-1.png"
          />
        </div>
        <img
          class="rounded-corner-main self-stretch shrink-0 w-[720px] relative"
          src="_1996-2.png"
        />
        <div
          class="flex flex-col gap-6 items-start justify-center self-stretch shrink-0 w-[360px] relative"
        >
          <img
            class="rounded-corner-main self-stretch flex-1 relative"
            src="_1992-1.png"
          /><img
            class="rounded-corner-main self-stretch flex-1 relative"
            src="_1994-1.png"
          />
        </div>
        <img
          class="rounded-corner-main self-stretch shrink-0 w-[720px] relative"
          src="_1996-3.png"
        /><img
          class="rounded-corner-main self-stretch shrink-0 w-[720px] relative"
          src="_1996-4.png"
        /><img
          class="rounded-corner-main self-stretch shrink-0 w-[720px] relative"
          src="_1996-5.png"
        />
      </div>
    </div> -->