---
const {year, events, img, class:className} = Astro.props;
---
<li class:list={["list-none flex flex-col",className]}>
    <div class="hover:bg-gray-200 rounded-3xl p-4 md:p-8 m-2 md:m-8 flex-col gap-2 md:gap-4 flex  min-w-min">
        <h4 class="self-stretch flex-col justify-start items-start gap-4 flex ">
            <div class=" text-main-900 text-2xl md:text-3xl font-black font-['Golos Text VF'] uppercase leading-tight tracking-widest">{year}</div>
        </h4>
        <ul class="self-stretch flex-col justify-start items-start gap-1.5 md:gap-2.5 flex list-disc ">
            {events.map((event:string[])=>(
                <li class="text-sm md:text-xl text-gray-900  leading-tight tracking-tight fitChild">{event}</li>
            ))}
        </ul>
    </div>
    <slot></slot>
</li>