---
import Appbar from "../components/Appbar.astro";

import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import LinkSection from "../components/sections/Section_Links.astro";
import Calendar from "../components/Calendar.astro";
import Vote from "../components/sections/Section_Vote.astro";
import NewStaff from "../components/sections/Section_NewStaff.astro";
import News from "../components/sections/Section_News.astro";
import Birthday from "../components/sections/Section_Birthday.astro";
import Jobs from "../components/sections/Section_Jobs.astro";
import Story from "../components/sections/Section_Story.astro";
---

<Layout title="Портал компании «Сантехкомплект»">
  <Hero />

  <Appbar data-scroll-hide />
  <div class="flex flex-col justify-around mx-auto">
    <section class="px-8 pt-16 pb-16 md:px-16 md:pb-32">
      <LinkSection />
    </section>
    <Calendar />
    <Vote />
    <NewStaff />
    <News />
    <Birthday />
    <Jobs />
  </div>
  <Story />
</Layout>
<script>
  document.addEventListener("astro:page-load", () => {
    const options = {
      root: null,
      rootMargin: "0px",
      threshold: 0.2,
    };

    const observer: IntersectionObserver = new IntersectionObserver(function (
      entries,
      observer
    ) {
      entries.forEach(function (entry) {
        if (entry.isIntersecting) {
          entry.target.classList.add("opacity-100");
          entry.target.classList.remove("opacity-0");
          const svg = entry.target.querySelector("#ew3a956DATx1");
          svg ? svg.classList.add("svg-active") : false;
          // console.log(entry);
        } else {
          entry.target.classList.add("opacity-0");
          entry.target.classList.remove("opacity-100");

          const svg = entry.target.querySelector("#ew3a956DATx1");
          svg ? svg.classList.remove("svg-active") : false;
          // Элемент невидим
          // console.log("out of view");
        }
      });
    }, options);
    const elements: NodeListOf<HTMLBaseElement> =
      document.querySelectorAll(".observe");
    // elements.forEach((element) => {
    // 	observer.observe(element);
    // });
  });
</script>
