---
import Appbar from "../components/Appbar.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/main_sections/SectionHero.astro";
import LinkSection from "../components/main_sections/SectionLinks.astro";
import Calendar from "../components/main_sections/SectionCalendar.astro";
import Vote from "../components/main_sections/SectionVote.astro";
import NewStaff from "../components/main_sections/SectionNewStaff.astro";
import News from "../components/main_sections/SectionNews.astro";
import Birthday from "../components/main_sections/SectionBirthday.astro";
import Jobs from "../components/main_sections/SectionJobs.astro";
import Story from "../components/main_sections/SectionStory.astro";
---
<Layout title="Портал компании «Сантехкомплект»">
  <Appbar />
  <Hero />
  <div class="flex flex-col justify-around mx-auto">
    <section class="px-8 pt-16 pb-16 md:px-16 md:pb-32">
      <LinkSection />
    </section>
    <Calendar />
    <Vote />
    <NewStaff />
    <News />
    <Birthday />
    <Jobs />
  </div>
  <Story />
</Layout>