---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import LinkSection from "../components/LinkSection.astro";
import Calendar from "../components/Calendar.astro";
import Vote from "../components/Vote.astro";
import NewStaff from "../components/NewStaff.astro";
import News from "../components/News.astro";
import Birthday from "../components/Birthday.astro";
import Jobs from "../components/Jobs.astro";
import Story from "../components/Story.astro";
---

<Layout title="Портал компании «Сантехкомплект»">
	<div class="info">
		<Hero />
		<LinkSection />
		<Calendar />
		<Vote />
		<NewStaff />
		<News />
		<Birthday/>
		<Jobs/>
	</div>
	<Story/>
</Layout>
<style>
  .info {
    display: flex;
    flex-direction: column;
	justify-content:space-around;
    /* gap: 256px; */
  }
</style>
