---
import Layout from "../layouts/Layout.astro";
import Table from "../components/tables/Table.astro";
import Appbar from '../components/Appbar3.astro'
import Breadcrumbs from "../components/Breadcrumbs.astro";
const pathname = new URL(Astro.request.url).pathname;
var count = (pathname.match(/\//g) || []).length;
console.log(count);
---
<Layout title="Портал компании «Сантехкомплект»">
    <Appbar/>
    <div class="flex flex-col px-4 md:px-8 xl:px-32 scroll-smooth">
        <div class="py-16 pl-16">
            <div class="flex flex-col gap-2">
                <Breadcrumbs level1="База знаний" level2="Телефонный справочник" class="-ml-4"></Breadcrumbs>
                <h1 class="text-3xl uppercase font-black tracking-wide">Телефонный справочник</h1>
            </div>
        </div>
        <section>   
            <Table/>
        </section>
    </div>
</Layout>