---
import Layout from "../layouts/Layout.astro";
import Table from "../components/tables/Table.astro";
import Appbar from '../components/Appbar.astro'
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Footer from '../components/Footer.astro';

const pathname = new URL(Astro.request.url).pathname;
var count = (pathname.match(/\//g) || []).length;
console.log(count);
---
<Layout title="Портал компании «Сантехкомплект»">
    <Appbar>
        <nav slot="drawer" class="flex flex-col gap-4 py-2">
            <a class="block pb-2 font-extrabold tracking-wide uppercase text-md" href="/santech-portal/">
              Главная
            </a>
            <ul class="">
              <li class="py-1">
                  <a class="block pb-2 font-bold leading-tight " href="">
                    Департамент продаж "Строительство"
                  </a>
                  <ul class="pb-1 ">
                    {   
                      ["Отдел №1", "Отдел №2","Отдел №3","Отдел №4"].map( // наполняем навигацию из коллекции по текущей категории
                        (item:any) => (
                          <li class="relative">
                            <a class="relative block px-2 py-1 text-sm leading-tight hover:outline lg:hover:bg-white outline-gray-300/50 rounded-2xl" href={"#"} >{item}</a>
                          </li>
                        )
                      )
                    }
                    {
                        ["Департамент №1", "Департамент №2","Департамент №3","Департамент №4"].map( // наполняем остальные категории
                          (category) => (
                            <li class="py-1.5">
                              <a class="block font-bold leading-tight " href={"#"}>
                                {category}
                              </a>
                            </li>
                            // ниже закоментил для генерации ссылок из других категорий
                            // articles[category].map(
                            //  (item) => (
                            //     <li>
                            //       <a href={"#"+item.id} class="" >{item.id.substring(item.id.lastIndexOf("/")+1,item.id.lastIndexOf("."))}</a>
                            //     </li>
                            //   )
                            // )
                          )
                        )
                      }
                  </ul>
              </li>
            </ul>
        </nav>
    </Appbar>
    <div class="flex flex-col px-4 py-16 md:px-16 scroll-smooth lg:ml-80">
        <div class="pl-4 md:pl-16">
            <div class="flex flex-col gap-2">
                <Breadcrumbs level1="База знаний" level2="Телефонный справочник" class="-ml-4"></Breadcrumbs>
                <h1 class="text-3xl font-black tracking-wide uppercase">Телефонный справочник</h1>
            </div>
        </div>
        <section>   
            <Table/>
        </section>
    </div>
    <Footer/>
</Layout>
