---
import Search from "./Search.astro";
import data from "../data/header_links.json";
import Button from "./Button.astro";
import Drawer from "./Drawer.astro";

const pathname = new URL(Astro.request.url).pathname;
var count = (pathname.match(/\//g) || []).length;
console.log(count);
const main = pathname[0];
// console.log(pathname.split("/")[1]);

// data.map((item) => (
// 	<li class="bg-white group hover:outline outline-gray-200/50 hover:shadow-lg rounded-2xl">
// 		<a href={item.url} class="flex items-center">
//   			<div class="p-2"><svg class="w-6 h-6 text-gray-600 group-hover:text-main-900"><use xlink:href={"#"+item.icon_one}></use></svg></div>
// 			<div class="text-xs text-gray-900 transition-all rounded-2xl max-w-0 group-hover:max-w-xs whitespace-nowrap overflow-clip" > {item.title}</div>
// 		</a>
// 	</li>
//   )
//   )
---

<header
  class="fixed appbar-scroll-show z-10 w-full top-[-73px] p-4 text-gray-100 border-b border-white bg-gray-100/20 backdrop-blur-sm"
>
  <div class="flex justify-between gap-4 px-4 transition-all h-fit">
    <a
      href="/santech-portal/"
      aria-label="Back to homepage"
      class="flex items-center object-center lg:w-72"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 29.3 14.3"
        class="h-6 text-main-900 lg:hidden"
      >
        <path
          class="cls-1"
          d="m5.8,6.61c-.08.53.06,1.05.38,1.47.65.88,1.9,1.06,2.78.4L20.32,0h-6.64s-7.1,5.31-7.1,5.31c-.43.32-.7.78-.78,1.31Zm14.86,2.6l4.05,5.21h5.06s-5.77-7.7-5.77-7.7l-3.34,2.5Zm-4.78,3.57l1.23,1.64h5.23s-3.13-4.12-3.13-4.12l-3.33,2.49Zm-5.83-2.82c-.7.52-1.53.77-2.35.76-1.14-.02-2.26-.55-3-1.53-.61-.82-.87-1.82-.72-2.84.15-1.01.68-1.9,1.5-2.51L10.61,0h-6.57s-.91.67-.91.67C-.31,3.23-1.03,8.09,1.53,11.53c2.55,3.43,7.39,4.15,10.83,1.62L30.06,0h-6.68s-13.34,9.96-13.34,9.96Z"
        ></path>
      </svg>
      <svg
        fill="currentColor"
        class="hidden h-5 text-main-900 lg:block"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 219.96 14.67"
      >
        <path
          class="cls-1"
          d="m40.44,7.16c0,1.7,1.19,3.06,2.87,3.06,1.19,0,2.14-.82,2.45-1.78l3.19,1.47c-.71,1.63-2.34,3.57-5.64,3.57-3.73,0-6.63-2.56-6.63-6.32,0-3.77,2.89-6.32,6.63-6.32,3.3,0,4.91,1.87,5.64,3.55l-3.19,1.48c-.31-.95-1.26-1.78-2.45-1.78-1.68,0-2.87,1.35-2.87,3.06ZM58.26,1.05l4.5,12.21h-4.01s-.48-1.57-.48-1.57h-4.69s-.48,1.57-.48,1.57h-4.01s4.5-12.21,4.5-12.21h4.65Zm-.93,7.56l-1.39-4.3-1.39,4.3h2.78Zm15.18-3.24h-4.38s0-4.32,0-4.32h-3.7s0,12.21,0,12.21h3.7s0-4.67,0-4.67h4.38s0,4.67,0,4.67h3.7s0-12.21,0-12.21h-3.7s0,4.32,0,4.32Zm5.45-1.1h3.28s0,8.99,0,8.99h3.7s0-8.99,0-8.99h3.26s0-3.22,0-3.22h-10.24s0,3.22,0,3.22Zm11.9,8.99h9.27s0-3.08,0-3.08h-5.57v-1.56h5.44s0-3.08,0-3.08h-5.44v-1.43h5.57s0-3.08,0-3.08h-9.27s0,12.21,0,12.21ZM113.42,1.05h-4.38s-1.94,3.48-1.94,3.48l-1.98-3.48h-4.34s3.81,5.95,3.81,5.95l-4.08,6.26h4.36s2.23-3.73,2.23-3.73l2.23,3.73h4.36s-4.08-6.28-4.08-6.28l3.81-5.93Zm13.21,0h-4.52s-3.2,4.58-3.2,4.58V1.05s-3.7,0-3.7,0v12.21s3.7,0,3.7,0v-3.39s.68-.92.68-.92l2.75,4.3h4.5s-4.82-6.54-4.82-6.54l4.62-5.68Zm13.2,6.12c0,3.75-2.91,6.32-6.68,6.32-3.77,0-6.68-2.56-6.68-6.32,0-3.75,2.91-6.32,6.68-6.32,3.77,0,6.68,2.56,6.68,6.32Zm-3.75,0c0-1.7-1.15-3.06-2.93-3.06s-2.93,1.36-2.93,3.06c0,1.7,1.15,3.06,2.93,3.06s2.93-1.35,2.93-3.06Zm13.66,6.1l2.73-7.71v7.71s3.7,0,3.7,0V1.05s-5.11,0-5.11,0l-2.14,6.23-2.14-6.23h-5.11s0,12.21,0,12.21h3.7s0-7.71,0-7.71l2.73,7.71h1.65Zm12.56-8.99h4.38s0,8.99,0,8.99h3.7s0-12.21,0-12.21h-11.77s0,12.21,0,12.21h3.7s0-8.99,0-8.99Zm15.87,1.26l2.12,7.7h4.19s-3.98-12.21-3.98-12.21h-4.65s-3.98,12.21-3.98,12.21h4.19s2.12-7.7,2.12-7.7Zm17.3,4.66h-5.57v-1.56h5.44s0-3.08,0-3.08h-5.44v-1.43h5.57s0-3.08,0-3.08h-9.26s0,12.21,0,12.21h9.26s0-3.08,0-3.08Zm13.48-9.14h-4.52s-3.2,4.58-3.2,4.58V1.05s-3.7,0-3.7,0v12.21s3.7,0,3.7,0v-3.39s.68-.91.68-.91l2.75,4.3h4.5s-4.82-6.54-4.82-6.54l4.62-5.68Zm.78,0v3.22s3.28,0,3.28,0v8.99s3.7,0,3.7,0V4.27s3.26,0,3.26,0V1.05s-10.24,0-10.24,0ZM5.8,6.61c-.08.53.06,1.05.38,1.47.65.88,1.9,1.06,2.78.4L20.32,0h-6.64s-7.1,5.31-7.1,5.31c-.43.32-.7.78-.78,1.31Zm14.86,2.6l4.05,5.21h5.06s-5.77-7.7-5.77-7.7l-3.34,2.5Zm-4.78,3.57l1.23,1.64h5.23s-3.13-4.12-3.13-4.12l-3.33,2.49Zm-5.83-2.82c-.7.52-1.53.77-2.35.76-1.14-.02-2.26-.55-3-1.53-.61-.82-.87-1.82-.72-2.84.15-1.01.68-1.9,1.5-2.51L10.61,0h-6.57s-.91.67-.91.67C-.31,3.23-1.03,8.09,1.53,11.53c2.55,3.43,7.39,4.15,10.83,1.62L30.06,0h-6.68s-13.34,9.96-13.34,9.96Z"
        ></path>
      </svg>
    </a>

    <ul class="items-start hidden ml-10 space-x-1 xl:space-x-3 lg:flex">
      {
        data.map((item) => (
          <li class="transition-transform bg-white rounded-full group hover:outline outline-gray-200/50 hover:shadow-lg hover:-translate-y-1">
            <a href={item.url} class="">
              <div class="p-2">
                <svg class="w-6 h-6 text-gray-600 group-hover:text-main-900">
                  <use xlink:href={"#" + item.icon_one} />
                </svg>
              </div>
              <div class="absolute invisible px-2 text-xs transition-transform bg-main-900 rounded-2xl group-hover:visible group-hover:translate-y-1 whitespace-nowrap">
                {" "}
                {item.title}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <Search />
    <button
      title="Open menu"
      id="open_drawer_btn"
      type="button"
      class="p-1 lg:hidden bg-main rounded-2xl"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>

  <!-- Навигация по странице скрытая в drawer -->
  <Drawer id="main_nav_drawer">
    <slot name="drawer" />
  </Drawer>

  <!-- Навигация по странице сбоку -->
  <div class="absolute hidden text-gray-900 lg:block left-8 top-36 w-72">
    <slot name="drawer" />
  </div>
</header>
<script>
  document.addEventListener("astro:page-load", () => {
    const drawer_btn: HTMLButtonElement = document.getElementById(
      "open_drawer_btn"
    ) as HTMLButtonElement;
    drawer_btn.addEventListener("click", () => {
      const main_nav_drawer: HTMLElement = document.getElementById(
        "main_nav_drawer"
      ) as HTMLElement;
      main_nav_drawer.classList.toggle("transform-none");
    });
    drawer_btn.addEventListener("keydown", (e) => {
      if (e.code === "Escape") {
        const main_nav_drawer: HTMLElement = document.getElementById(
          "main_nav_drawer"
        ) as HTMLElement;
        main_nav_drawer.classList.toggle("transform-none");
      }
    });
  });
  // openDrawerButton
  // drawer-navigation
</script>


<style>
  @supports(animation-range: 0vh 40vh) {
  
      @keyframes showAppbar {
          from {
            top:-73px;
            /* filter: blur(12px); */
              /* background-position: 50% 0; */
          }
  
          to {
              /* background-position: 50% 100%; */
              top:0px;
              /* height: 10vh; */
          }
      }
  
  
      #pageScro {
          /* animation: move-and-size linear forwards; */
          view-timeline-name: --header-block;
          
          /* animation-timeline: scroll(); */
          /* animation-range: 00vh 60vh; */
      }
      .appbar-scroll-show{
        animation: showAppbar ease-in forwards;
        /* animation-timeline: --header-block; */
        animation-timeline: scroll();
        animation-range: 10vh  exit-crossing 40vh;
      }
  }
  
  </style>