---
const {text, type, class: className} = Astro.props;
---
<p class:list={["rounded-2xl text-xs tracking-wider px-2 py-1 bg-accent-400 text-gray-900",className]}>{text}</p>
<!-- <div class="rounded-2xl text-xs tracking-wider px-1 py-2 bg-accent-300"></div> -->