---
import Layout from "../layouts/SectionLayout.astro";
import IconHeader from "../components/IconHeader.astro";
import Avatar from "../components/Avatar.astro";

---
<Layout icon="#birthday-cake_" title={"Дни рождения"} subtitle={"Поздравляем именинников!"} class="flex-col mx-auto items-center">
    <div class="absolute -z-50 -top-16 md:-top-36 lg:-top-60 md:w-[100%]">
        <!-- <img src="/img/birthday_.svg" alt=""/> -->
        <?xml version="1.0" encoding="UTF-8"?>
        <svg id="a" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 995.53 694.1">
          <defs>
            <linearGradient id="b" x1="724.36" y1="82.8" x2="670.88" y2="238.36" gradientTransform="translate(464.65 -279.62) rotate(47.72) scale(.71)" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#f7773a"/>
              <stop offset=".2" stop-color="#f65c45"/>
              <stop offset=".4" stop-color="#f54e53"/>
              <stop offset=".6" stop-color="#f44b6c"/>
              <stop offset=".8" stop-color="#f44683"/>
              <stop offset="1" stop-color="#f2429a"/>
            </linearGradient>
            <linearGradient id="c" x1="479.83" y1="60.13" x2="434.28" y2="277.11" gradientTransform="translate(218.52 -250.46) rotate(39.78)" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#fff7d4"/>
              <stop offset=".48" stop-color="#ffe259"/>
              <stop offset="1" stop-color="#ffa751"/>
            </linearGradient>
            <linearGradient id="d" x1="883" y1="188.29" x2="829.25" y2="419.61" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#adfdff"/>
              <stop offset=".03" stop-color="#a3f3fa"/>
              <stop offset=".18" stop-color="#7acbe8"/>
              <stop offset=".3" stop-color="#61b3dd"/>
              <stop offset=".37" stop-color="#58aad9"/>
              <stop offset=".57" stop-color="#4091c4"/>
              <stop offset=".98" stop-color="#035191"/>
              <stop offset="1" stop-color="#004e8f"/>
            </linearGradient>
            <linearGradient id="e" x1="185.17" y1="572.41" x2="307.42" y2="348.65" gradientTransform="translate(598.81 -115.77) rotate(64.78)" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#18c0cc"/>
              <stop offset=".34" stop-color="#31d6c6"/>
              <stop offset=".65" stop-color="#47eac1"/>
              <stop offset="1" stop-color="#b8ffe8"/>
            </linearGradient>
            <clipPath id="f">
              <circle cx="279.49" cy="302.81" r="148.68" transform="translate(-132.26 286.32) rotate(-45)" fill="none" stroke-width="0"/>
            </clipPath>
            <linearGradient id="g" x1="849.19" y1="8.52" x2="818.15" y2="98.81" gradientTransform="matrix(1,0,0,1,0,0)" xlink:href="#b"/>
          </defs>
          <circle cx="718.25" cy="159.02" r="58.86" transform="translate(117.42 583.5) rotate(-47.72)" fill="url(#b)" stroke="#fff" stroke-miterlimit="10" stroke-width=".71"/>
          <g>
            <circle cx="455.35" cy="176.72" r="138.14" fill="none" stroke="#fff" stroke-dasharray="0 0 21.6 29.46" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
            <circle cx="455.35" cy="176.72" r="112.57" transform="translate(-7.65 332.29) rotate(-39.78)" fill="url(#c)" stroke="#fff" stroke-miterlimit="10"/>
          </g>
          <g>
            <circle cx="579.65" cy="324.62" r="186.71" fill="none" stroke="#fff" stroke-miterlimit="10"/>
            <path d="m579.65,324.62l-186.71-.87c.47-102.1,84.61-185.85,186.71-185.85s186.71,84.29,186.71,186.71h-186.71Z" fill="#f9fafc" stroke="#f3f5f9" stroke-miterlimit="10"/>
            <path d="m579.65,324.62l-186.71-.87c.47-102.1,84.61-185.85,186.71-185.85s186.71,84.29,186.71,186.71h-186.71Z" fill="#f3f5f9" stroke="#f3f5f9" stroke-miterlimit="10"/>
            <circle cx="579.65" cy="324.62" r="186.71" fill="none" stroke="#fff" stroke-miterlimit="10"/>
          </g>
          <g>
            <circle cx="856.39" cy="302.81" r="138.14" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            <circle cx="856.39" cy="302.81" r="115.5" fill="url(#d)" stroke="#f3f5f9" stroke-miterlimit="10" stroke-width=".49"/>
          </g>
          <circle cx="279.49" cy="302.81" r="148.68" transform="translate(-132.26 286.32) rotate(-45)" fill="url(#e)" stroke="#fff" stroke-miterlimit="10"/>
          <g clip-path="url(#f)">
            <rect x=".65" y="351.07" width="592.84" height="342.38" fill="#f3f5f9" stroke="#f3f5f9" stroke-miterlimit="10" stroke-width="1.3"/>
          </g>
          <circle cx="835.38" cy="48.68" r="48.32" fill="url(#g)" stroke="#fff" stroke-miterlimit="10" stroke-width=".71"/>
        </svg>


    </div>
    <div class="flex md:justify-center mx-auto items-center max-w-screen-xl gap-16 md:gap-8">
                <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16 gap-y-8 justify-items-start items-center">
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Некрасов Матвей Захарович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true} ></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Лебедева Василиса Демидовна" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Зимин Артём Маркович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Лукьянов Степан Артёмович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Новиков Кирилл Романович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Герасимов Сергей Дмитриевич" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Михайлова Елизавета Робертовна" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Некрасов Матвей Захарович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Лебедева Василиса Демидовна" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Зимин Артём Маркович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Лукьянов Степан Артёмович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Новиков Кирилл Романович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Герасимов Сергей Дмитриевич" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Михайлова Елизавета Робертовна" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                </ul>
    </div>
</Layout>