---
import Layout from "../layouts/SectionLayout.astro";
import IconHeader from "../components/IconHeader.astro";
import Avatar from "../components/Avatar.astro";

---
<Layout icon="#birthday-cake" title={"Дни рождения"} subtitle={"Поздравляем именинников!"} class=" md:ml-0" id="birthday" >
  <div class="absolute h-96 w-96 -z-50 bg-gradient-to-b from-gray-300 to-gray-100 rounded-4xl bottom-52 rotate-[113deg] right-8"></div>
    <div class=" absolute -left-6 md:left-auto md:right-8 -z-50 -top-52">
       
      <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="w-128" -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="w-128"
        viewBox="0 0 630.7 458" style="enable-background:new 0 0 630.7 458;" xml:space="preserve">
     <style type="text/css">
       .st0{fill:#F3F5F9;}
       .st1{fill:url(#SVGID_1_);stroke:#F3F5F9;stroke-width:0.8244;stroke-miterlimit:10;}
       .st2{fill:url(#SVGID_00000151516894895889604120000016019390032801557941_);}
       .st3{fill:#FFFFFF;}
       .st4{fill:url(#SVGID_00000077297528767379610020000012972591199514911136_);}
       .st5{fill:none;stroke:#FFFFFF;stroke-width:1.7772;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
       
         .st6{fill:url(#SVGID_00000022548155448943713500000010043294918028414904_);stroke:#FFFFFF;stroke-width:0.4345;stroke-miterlimit:10;}
       .st7{fill:url(#SVGID_00000052799633136930288180000004082535871137163398_);}
       .st8{fill:url(#SVGID_00000167385750987759624660000015009687335737513609_);}
       .st9{fill:url(#SVGID_00000026160698626970803320000017805492572151574453_);}
       .st10{fill:url(#SVGID_00000146495744788610446680000008410471062035872654_);}
       .st11{fill:url(#SVGID_00000085951971712401958420000006977194342910802060_);stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
       .st12{opacity:0.2;clip-path:url(#SVGID_00000171678143169370821500000009793632113048563385_);}
       .st13{fill:none;stroke:#F3F5F9;stroke-miterlimit:10;}
       
         .st14{fill:url(#SVGID_00000135668416629310764510000012375705365880005792_);stroke:#FFFFFF;stroke-width:1.2682;stroke-miterlimit:10;}
       
         .st15{fill:url(#SVGID_00000111188593317603427270000005270963232283333011_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;}
       
         .st16{fill:url(#SVGID_00000036243462937982037580000006124924801816119722_);stroke:#FFFFFF;stroke-width:1.1942;stroke-miterlimit:10;}
       
         .st17{fill:url(#SVGID_00000183241652906483407630000004286732225017741220_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;}
       
         .st18{fill:url(#SVGID_00000097464661167349356030000011078451545742300570_);stroke:#FFFFFF;stroke-width:1.1201;stroke-miterlimit:10;}
       
         .st19{fill:url(#SVGID_00000141432296959585947270000011316066791734514051_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;}
       
         .st20{fill:url(#SVGID_00000114770836336505556240000000676242584696742291_);stroke:#FFFFFF;stroke-width:1.0461;stroke-miterlimit:10;}
       
         .st21{fill:url(#SVGID_00000008852584222982461120000018181806678476256389_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;}
       
         .st22{fill:url(#SVGID_00000074408535068030937730000009794491666505024925_);stroke:#FFFFFF;stroke-width:0.9721;stroke-miterlimit:10;}
       
         .st23{fill:url(#SVGID_00000044856732254220621350000018267160975353914252_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;}
       
         .st24{fill:url(#SVGID_00000173140290913927878600000015303625899874960051_);stroke:#FFFFFF;stroke-width:0.898;stroke-miterlimit:10;}
       
         .st25{fill:url(#SVGID_00000152251236347099420920000011834200581135243141_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;}
       
         .st26{fill:url(#SVGID_00000147199632509047378060000016930347812251103400_);stroke:#FFFFFF;stroke-width:0.824;stroke-miterlimit:10;}
       
         .st27{fill:url(#SVGID_00000159439437460994326300000009371302605702964609_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;}
       .st28{fill:url(#SVGID_00000175312291796816833440000006304907347518506400_);stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
       .st29{fill:url(#SVGID_00000150061034825422480500000018363061845354376873_);}
       .st30{fill:url(#SVGID_00000176003958453154726440000000405104086107566772_);}
       .st31{fill:url(#SVGID_00000118376107832935286970000006476001509907411366_);stroke:#FFFFFF;stroke-miterlimit:10;}
     </style>
     <rect x="-102.3" y="-60.7" class="st0" width="809.6" height="518.7"/>
     <g>
       <g>
         
           <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="361.9727" y1="325.2168" x2="360.0827" y2="266.8617" gradientTransform="matrix(1 0 0 -1 0 457.8898)">
           <stop  offset="0" style="stop-color:#E2E5EA"/>
           <stop  offset="1" style="stop-color:#F3F5F9"/>
         </linearGradient>
         <rect x="358.2" y="129.3" class="st1" width="4.7" height="94.6"/>
         <g>
           
             <linearGradient id="SVGID_00000081622862941475796430000012275372888064638355_" gradientUnits="userSpaceOnUse" x1="360.6204" y1="318.0428" x2="359.8236" y2="329.8945" gradientTransform="matrix(1 0 0 -1 0 457.8898)">
             <stop  offset="0" style="stop-color:#FF9152"/>
             <stop  offset="0.1743" style="stop-color:#F54E53"/>
             <stop  offset="0.5102" style="stop-color:#F44B6C"/>
             <stop  offset="1" style="stop-color:#F2429A"/>
           </linearGradient>
           <polygon style="fill:url(#SVGID_00000081622862941475796430000012275372888064638355_);" points="354.7,138.8 358.2,130.1 
             362.9,130.1 366.4,138.8 			"/>
           <path class="st3" d="M362.7,130.5l3.2,7.9h-10.5l3.2-7.9H362.7 M363.2,129.7h-0.5h-4.2H358l-0.2,0.5l-3.2,7.9l-0.4,1.1h1.1h10.5
             h1.1l-0.4-1.1l-3.2-7.9L363.2,129.7L363.2,129.7z"/>
         </g>
         <g>
           
             <linearGradient id="SVGID_00000008133024135169027810000014355987864312592277_" gradientUnits="userSpaceOnUse" x1="374.6174" y1="462.2295" x2="343.3744" y2="300.6585" gradientTransform="matrix(1 0 0 -1 0 457.8898)">
             <stop  offset="0" style="stop-color:#FF9152"/>
             <stop  offset="0.1743" style="stop-color:#F54E53"/>
             <stop  offset="0.5102" style="stop-color:#F44B6C"/>
             <stop  offset="1" style="stop-color:#F2429A"/>
           </linearGradient>
           <path style="fill:url(#SVGID_00000008133024135169027810000014355987864312592277_);" d="M361.1,130.8c-7.5,0-14.9-1.3-22.1-3.9
             c-33.8-12.2-51.5-49.6-39.3-83.4c9.3-25.8,33.9-43.2,61.4-43.2c7.5,0,14.9,1.3,22.1,3.9c16.4,5.9,29.5,17.8,36.9,33.6
             s8.3,33.5,2.4,49.8C413.2,113.5,388.5,130.8,361.1,130.8z"/>
           <path class="st3" d="M361.1,0.8c7.3,0,14.7,1.2,21.9,3.8c33.7,12.1,51.2,49.2,39.1,82.9c-9.5,26.4-34.4,42.9-61,42.9
             c-7.3,0-14.7-1.2-21.9-3.8c-33.7-12.1-51.2-49.2-39.1-82.9C309.6,17.2,334.5,0.8,361.1,0.8 M361.1,0v0.8V0L361.1,0
             c-27.6,0-52.4,17.4-61.7,43.4c-5.9,16.5-5.1,34.3,2.4,50.1c7.5,15.9,20.7,27.8,37.1,33.8c7.2,2.6,14.6,3.9,22.2,3.9
             c27.6,0,52.4-17.4,61.7-43.4c5.9-16.5,5.1-34.3-2.4-50.1S399.8,9.8,383.3,3.9C376.1,1.3,368.7,0,361.1,0L361.1,0z"/>
         </g>
       </g>
       <g>
         <circle class="st5" cx="139" cy="158.4" r="138.1"/>
         
           <linearGradient id="SVGID_00000039109888010306811700000000622778378924103317_" gradientUnits="userSpaceOnUse" x1="95.4883" y1="219.8502" x2="188.04" y2="389.2478" gradientTransform="matrix(1 0 0 -1 0 457.8898)">
           <stop  offset="0" style="stop-color:#18C0CC"/>
           <stop  offset="0.3388" style="stop-color:#31D6C6"/>
           <stop  offset="0.6458" style="stop-color:#47EAC1"/>
           <stop  offset="1" style="stop-color:#B8FFE8"/>
         </linearGradient>
         
           <circle style="fill:url(#SVGID_00000039109888010306811700000000622778378924103317_);stroke:#FFFFFF;stroke-width:0.4345;stroke-miterlimit:10;" cx="139" cy="158.4" r="112.6"/>
       </g>
       <g>
         
           <linearGradient id="SVGID_00000149376425912186043560000002834489659058999427_" gradientUnits="userSpaceOnUse" x1="274.7221" y1="176.6869" x2="298.2451" y2="113.959">
           <stop  offset="0" style="stop-color:#ADFDFF"/>
           <stop  offset="3.245186e-02" style="stop-color:#A3F3FB"/>
           <stop  offset="0.1826" style="stop-color:#7ACCE8"/>
           <stop  offset="0.3013" style="stop-color:#61B3DD"/>
           <stop  offset="0.373" style="stop-color:#58AAD9"/>
           <stop  offset="0.5677" style="stop-color:#4091C5"/>
           <stop  offset="0.9797" style="stop-color:#035192"/>
           <stop  offset="1" style="stop-color:#004E8F"/>
         </linearGradient>
         <path style="fill:url(#SVGID_00000149376425912186043560000002834489659058999427_);" d="M272.2,145.3c-0.6,4.2,4.3,6.6,7.6,4.4
           c3.5-2.4,23-16.4,26.3-18.9c1.2-1-0.5-1.4-1.4-1.3c-2.5,0-8.1-0.1-10.9-0.2c-1.4,0.1-2-0.2-3,0.4c-3.1,2.2-13.6,9.8-16.2,11.6
           c-1.2,0.9-2.1,2-2.5,3.6L272.2,145.3L272.2,145.3z"/>
         
           <linearGradient id="SVGID_00000073682832339161616210000010428419866401130634_" gradientUnits="userSpaceOnUse" x1="307.2664" y1="188.891" x2="330.7893" y2="126.1631">
           <stop  offset="0" style="stop-color:#ADFDFF"/>
           <stop  offset="3.245186e-02" style="stop-color:#A3F3FB"/>
           <stop  offset="0.1826" style="stop-color:#7ACCE8"/>
           <stop  offset="0.3013" style="stop-color:#61B3DD"/>
           <stop  offset="0.373" style="stop-color:#58AAD9"/>
           <stop  offset="0.5677" style="stop-color:#4091C5"/>
           <stop  offset="0.9797" style="stop-color:#035192"/>
           <stop  offset="1" style="stop-color:#004E8F"/>
         </linearGradient>
         <path style="fill:url(#SVGID_00000073682832339161616210000010428419866401130634_);" d="M308.2,152.1c0,0.4,0.5,1,1.2,1.9
           c2.2,3,4.9,6.5,7.1,9.5c0.9,1.2,1.1,1.3,2.8,1.3c0.9,0,1.7,0,2.6,0c1.9,0,4.4,0.1,6.2,0.1c1.4-0.1,1.5-0.7,0.9-1.5
           c-2.1-2.8-10.1-14.1-12.4-16.9c-0.8-0.6-1.3,0.1-2.4,0.7c-1.2,0.9-3.1,2.1-4.4,3C308.8,151.2,308.2,151.6,308.2,152.1L308.2,152.1
           z"/>
         
           <linearGradient id="SVGID_00000010994775771965508900000006848352601828002190_" gradientUnits="userSpaceOnUse" x1="295.614" y1="184.5214" x2="319.137" y2="121.7935">
           <stop  offset="0" style="stop-color:#ADFDFF"/>
           <stop  offset="3.245186e-02" style="stop-color:#A3F3FB"/>
           <stop  offset="0.1826" style="stop-color:#7ACCE8"/>
           <stop  offset="0.3013" style="stop-color:#61B3DD"/>
           <stop  offset="0.373" style="stop-color:#58AAD9"/>
           <stop  offset="0.5677" style="stop-color:#4091C5"/>
           <stop  offset="0.9797" style="stop-color:#035192"/>
           <stop  offset="1" style="stop-color:#004E8F"/>
         </linearGradient>
         <path style="fill:url(#SVGID_00000010994775771965508900000006848352601828002190_);" d="M296.5,160.9c0.1,0.4,0.5,1,1,1.6
           c0.7,0.8,1,1.6,1.9,1.9c2.4,0.2,6.2,0.1,8.9,0.3c1.5,0,4.2,0.4,2.6-1.7c-1.2-1.6-4.5-6-5.6-7.5c-1.1-1.5-2.1-0.2-3.4,0.6
           c-1.2,0.9-2.9,2.1-3.9,2.8C296.9,159.8,296.4,160.1,296.5,160.9L296.5,160.9z"/>
         
           <linearGradient id="SVGID_00000097463065814079792780000017676003797008789919_" gradientUnits="userSpaceOnUse" x1="278.61" y1="178.1449" x2="302.1329" y2="115.417">
           <stop  offset="0" style="stop-color:#ADFDFF"/>
           <stop  offset="3.245186e-02" style="stop-color:#A3F3FB"/>
           <stop  offset="0.1826" style="stop-color:#7ACCE8"/>
           <stop  offset="0.3013" style="stop-color:#61B3DD"/>
           <stop  offset="0.373" style="stop-color:#58AAD9"/>
           <stop  offset="0.5677" style="stop-color:#4091C5"/>
           <stop  offset="0.9797" style="stop-color:#035192"/>
           <stop  offset="1" style="stop-color:#004E8F"/>
         </linearGradient>
         <path style="fill:url(#SVGID_00000097463065814079792780000017676003797008789919_);" d="M281.8,153.6c-6.7,4-15.3-1.7-13.8-9.4
           c0.7-4,3.6-6,6.8-8.3c1.9-1.4,4.4-3.1,6-4.2c2.1-1.4,2.5-2.3,0.4-2.4c-2.3,0-8.2-0.1-10.9-0.2c-0.8,0-1.5,0.1-2.2,0.4
           c-10.2,5.2-12.9,19.5-5.7,28.2c6.3,7.9,18.2,9,26,3.1c3.9-2.8,35.7-25.5,41.1-29.3c1.5-1-0.4-1.5-1.5-1.4c-2.7,0-8.9-0.2-11.3-0.2
           c-1.2,0-1.6,0-2.4,0.6C310.6,133,288.5,149,281.8,153.6L281.8,153.6L281.8,153.6z"/>
       </g>
       <g>
         
           <linearGradient id="SVGID_00000163037693169111358370000006221503503295631758_" gradientUnits="userSpaceOnUse" x1="345.3908" y1="278.9538" x2="246.7326" y2="233.0662" gradientTransform="matrix(1 0 0 -1 0 457.8898)">
           <stop  offset="0" style="stop-color:#E2E5EA"/>
           <stop  offset="1" style="stop-color:#F3F5F9"/>
         </linearGradient>
         
           <path style="fill:url(#SVGID_00000163037693169111358370000006221503503295631758_);stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;" d="
           M391,238.4l-197.7,9.3v-53.1c0-23.6,20.3-42.1,43.8-40l120.4,10.8c19,1.7,33.5,17.6,33.5,36.6V238.4z"/>
         <g>
           <defs>
             <path id="SVGID_00000118366127363096469550000017766717898609550997_" d="M391,238.4l-197.7,9.3v-53.1c0-23.6,20.3-42.1,43.8-40
               l120.4,10.8c19,1.7,33.5,17.6,33.5,36.6V238.4z"/>
           </defs>
           <clipPath id="SVGID_00000173142198544039749260000002993382427681625728_">
             <use xlink:href="#SVGID_00000118366127363096469550000017766717898609550997_"  style="overflow:visible;"/>
           </clipPath>
           <g style="opacity:0.2;clip-path:url(#SVGID_00000173142198544039749260000002993382427681625728_);">
             <line class="st13" x1="413.8" y1="108.6" x2="170.1" y2="108.6"/>
             <line class="st13" x1="413.8" y1="120.4" x2="170.1" y2="120.4"/>
             <line class="st13" x1="413.8" y1="132.3" x2="170.1" y2="132.3"/>
             <line class="st13" x1="413.8" y1="144.1" x2="170.1" y2="144.1"/>
             <line class="st13" x1="413.8" y1="155.9" x2="170.1" y2="155.9"/>
             <line class="st13" x1="413.8" y1="167.8" x2="170.1" y2="167.8"/>
             <line class="st13" x1="413.8" y1="179.6" x2="170.1" y2="179.6"/>
             <line class="st13" x1="413.8" y1="191.4" x2="170.1" y2="191.4"/>
             <line class="st13" x1="413.8" y1="203.3" x2="170.1" y2="203.3"/>
             <line class="st13" x1="413.8" y1="215.1" x2="170.1" y2="215.1"/>
             <line class="st13" x1="413.8" y1="227" x2="170.1" y2="227"/>
             <line class="st13" x1="413.8" y1="238.8" x2="170.1" y2="238.8"/>
             <line class="st13" x1="413.8" y1="250.6" x2="170.1" y2="250.6"/>
             <line class="st13" x1="413.8" y1="262.5" x2="170.1" y2="262.5"/>
             <line class="st13" x1="413.8" y1="274.3" x2="170.1" y2="274.3"/>
             <line class="st13" x1="413.8" y1="286.1" x2="170.1" y2="286.1"/>
           </g>
         </g>
       </g>
       <g>
         <g>
           
             <linearGradient id="SVGID_00000135664089805322060950000004115306165599580349_" gradientUnits="userSpaceOnUse" x1="169.8182" y1="265.6715" x2="164.4061" y2="239.8925" gradientTransform="matrix(1 0 -0.1336 -0.9259 31.9275 440.1769)">
             <stop  offset="0" style="stop-color:#FFF7D4"/>
             <stop  offset="0.4838" style="stop-color:#FFE259"/>
             <stop  offset="1" style="stop-color:#FFA751"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000135664089805322060950000004115306165599580349_);stroke:#FFFFFF;stroke-width:1.2682;stroke-miterlimit:10;" d="
             M160,213.8l-0.1-16.2c0-2,1-3.4,2.3-3.4l0,0c1.4,0,2.8,1.4,3.3,3.4l4.6,16.2c0.8,2.7-0.2,5.2-2.1,5.2h-4.6
             C161.7,219,160,216.5,160,213.8z"/>
           
             <linearGradient id="SVGID_00000177447276413395094190000002381235419850256298_" gradientUnits="userSpaceOnUse" x1="166.0983" y1="222.8869" x2="165.5518" y2="281.0028">
             <stop  offset="0" style="stop-color:#E2E5EA"/>
             <stop  offset="1" style="stop-color:#F3F5F9"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000177447276413395094190000002381235419850256298_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;" d="
             M165.9,222.5L165.9,222.5c-2.2,0-4,1.8-4,4v42.3h8.1v-42.3C169.9,224.3,168.1,222.5,165.9,222.5z"/>
         </g>
         <g>
           
             <linearGradient id="SVGID_00000073679259957663734250000000090983227772915632_" gradientUnits="userSpaceOnUse" x1="210.5073" y1="265.8116" x2="205.6553" y2="242.7005" gradientTransform="matrix(1 0 -6.377203e-02 -0.9309 14.4293 441.251)">
             <stop  offset="0" style="stop-color:#FFF7D4"/>
             <stop  offset="0.4838" style="stop-color:#FFE259"/>
             <stop  offset="1" style="stop-color:#FFA751"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000073679259957663734250000000090983227772915632_);stroke:#FFFFFF;stroke-width:1.1942;stroke-miterlimit:10;" d="
             M200.7,211.5l0.7-14.6c0.1-1.8,1.1-3.1,2.5-3.1l0,0c1.4,0,2.7,1.3,3.2,3.1l3.9,14.6c0.6,2.4-0.5,4.7-2.3,4.7H204
             C202.2,216.2,200.6,213.9,200.7,211.5z"/>
           
             <linearGradient id="SVGID_00000017512999783502254530000004722652055528449933_" gradientUnits="userSpaceOnUse" x1="206.5352" y1="220.0377" x2="206.0279" y2="273.9774">
             <stop  offset="0" style="stop-color:#E2E5EA"/>
             <stop  offset="1" style="stop-color:#F3F5F9"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000017512999783502254530000004722652055528449933_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;" d="
             M206.3,219.7L206.3,219.7c-2.2,0-4,1.8-4,4v39h8.1v-39C210.4,221.5,208.6,219.7,206.3,219.7z"/>
         </g>
         <g>
           
             <linearGradient id="SVGID_00000065045475068868560990000005760383092680172944_" gradientUnits="userSpaceOnUse" x1="250.9881" y1="265.9896" x2="246.6748" y2="245.4446" gradientTransform="matrix(1 0 6.102304e-03 -0.9359 -3.069 442.3252)">
             <stop  offset="0" style="stop-color:#FFF7D4"/>
             <stop  offset="0.4838" style="stop-color:#FFE259"/>
             <stop  offset="1" style="stop-color:#FFA751"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000065045475068868560990000005760383092680172944_);stroke:#FFFFFF;stroke-width:1.1201;stroke-miterlimit:10;" d="
             M241.4,209.1l1.4-13.1c0.2-1.6,1.3-2.8,2.7-2.8h0c1.4,0,2.6,1.2,3,2.8l3.1,13.1c0.5,2.2-0.7,4.2-2.6,4.2h-4.6
             C242.6,213.4,241.1,211.3,241.4,209.1z"/>
           
             <linearGradient id="SVGID_00000087398189040563766040000001267462013230319510_" gradientUnits="userSpaceOnUse" x1="246.9721" y1="217.1885" x2="246.5041" y2="266.9521">
             <stop  offset="0" style="stop-color:#E2E5EA"/>
             <stop  offset="1" style="stop-color:#F3F5F9"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000087398189040563766040000001267462013230319510_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;" d="
             M246.8,216.9L246.8,216.9c-2.2,0-4,1.8-4,4v35.6h8.1v-35.6C250.8,218.7,249,216.9,246.8,216.9z"/>
         </g>
         <g>
           
             <linearGradient id="SVGID_00000070094940007870112270000009774696869835724672_" gradientUnits="userSpaceOnUse" x1="291.2641" y1="266.2051" x2="287.4683" y2="248.1253" gradientTransform="matrix(1 0 7.597664e-02 -0.9409 -20.5673 443.3994)">
             <stop  offset="0" style="stop-color:#FFF7D4"/>
             <stop  offset="0.4838" style="stop-color:#FFE259"/>
             <stop  offset="1" style="stop-color:#FFA751"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000070094940007870112270000009774696869835724672_);stroke:#FFFFFF;stroke-width:1.0461;stroke-miterlimit:10;" d="
             M282.1,206.8l2.2-11.6c0.3-1.4,1.4-2.5,2.8-2.5l0,0c1.4,0,2.6,1,2.9,2.5l2.4,11.6c0.4,1.9-1,3.7-2.8,3.7h-4.6
             C283.1,210.5,281.7,208.7,282.1,206.8z"/>
           
             <linearGradient id="SVGID_00000101823446783427193190000010560144363797064842_" gradientUnits="userSpaceOnUse" x1="287.4089" y1="214.3392" x2="286.9802" y2="259.9268">
             <stop  offset="0" style="stop-color:#E2E5EA"/>
             <stop  offset="1" style="stop-color:#F3F5F9"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000101823446783427193190000010560144363797064842_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;" d="
             M287.2,214L287.2,214c-2.2,0-4,1.8-4,4v32.3h8.1v-32.3C291.3,215.8,289.5,214,287.2,214z"/>
         </g>
         <g>
           
             <linearGradient id="SVGID_00000172421026527830133990000013585123071142591107_" gradientUnits="userSpaceOnUse" x1="331.3386" y1="266.4581" x2="328.0393" y2="250.7433" gradientTransform="matrix(1 0 0.1459 -0.9459 -38.0655 444.4735)">
             <stop  offset="0" style="stop-color:#FFF7D4"/>
             <stop  offset="0.4838" style="stop-color:#FFE259"/>
             <stop  offset="1" style="stop-color:#FFA751"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000172421026527830133990000013585123071142591107_);stroke:#FFFFFF;stroke-width:0.9721;stroke-miterlimit:10;" d="
             M322.8,204.5l2.9-10.1c0.4-1.2,1.6-2.1,3-2.1l0,0c1.4,0,2.5,0.9,2.7,2.1l1.7,10.1c0.3,1.7-1.2,3.2-3,3.2h-4.6
             C323.6,207.7,322.3,206.1,322.8,204.5z"/>
           
             <linearGradient id="SVGID_00000150102068043404047690000008075064200053718165_" gradientUnits="userSpaceOnUse" x1="327.8458" y1="211.49" x2="327.4564" y2="252.9014">
             <stop  offset="0" style="stop-color:#E2E5EA"/>
             <stop  offset="1" style="stop-color:#F3F5F9"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000150102068043404047690000008075064200053718165_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;" d="
             M327.7,211.2L327.7,211.2c-2.2,0-4,1.8-4,4v29h8.1v-29C331.7,213,329.9,211.2,327.7,211.2z"/>
         </g>
         <g>
           
             <linearGradient id="SVGID_00000027576002203568696120000004389606121370472833_" gradientUnits="userSpaceOnUse" x1="371.2148" y1="266.7489" x2="368.3911" y2="253.2989" gradientTransform="matrix(1 0 0.2157 -0.9509 -55.5638 445.5477)">
             <stop  offset="0" style="stop-color:#FFF7D4"/>
             <stop  offset="0.4838" style="stop-color:#FFE259"/>
             <stop  offset="1" style="stop-color:#FFA751"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000027576002203568696120000004389606121370472833_);stroke:#FFFFFF;stroke-width:0.898;stroke-miterlimit:10;" d="
             M363.4,202.1l3.6-8.6c0.5-1.1,1.8-1.8,3.1-1.8l0,0c1.4,0,2.4,0.8,2.5,1.8l0.9,8.6c0.2,1.4-1.4,2.8-3.3,2.8h-4.6
             C364,204.9,362.8,203.6,363.4,202.1z"/>
           
             <linearGradient id="SVGID_00000072252227111180215390000003284131725162114998_" gradientUnits="userSpaceOnUse" x1="368.2827" y1="208.6407" x2="367.9325" y2="245.8761">
             <stop  offset="0" style="stop-color:#E2E5EA"/>
             <stop  offset="1" style="stop-color:#F3F5F9"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000072252227111180215390000003284131725162114998_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;" d="
             M368.1,208.4L368.1,208.4c-2.2,0-4,1.8-4,4v25.6h8.1v-25.6C372.2,210.2,370.4,208.4,368.1,208.4z"/>
         </g>
         <g>
           
             <linearGradient id="SVGID_00000133521315495912925660000013705848164917257663_" gradientUnits="userSpaceOnUse" x1="410.5441" y1="267.1521" x2="408.1746" y2="255.8659" gradientTransform="matrix(1 0 0.2856 -0.956 -73.0621 446.6218)">
             <stop  offset="0" style="stop-color:#FFF7D4"/>
             <stop  offset="0.4838" style="stop-color:#FFE259"/>
             <stop  offset="1" style="stop-color:#FFA751"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000133521315495912925660000013705848164917257663_);stroke:#FFFFFF;stroke-width:0.824;stroke-miterlimit:10;" d="
             M404.1,199.8l4.4-7c0.5-0.9,1.9-1.5,3.3-1.5l0,0c1.4,0,2.4,0.6,2.4,1.5l0.2,7c0,1.2-1.7,2.3-3.5,2.3h-4.6
             C404.5,202.1,403.4,201,404.1,199.8z"/>
           
             <linearGradient id="SVGID_00000095313480328679205730000004887344076416516028_" gradientUnits="userSpaceOnUse" x1="408.7196" y1="205.7915" x2="408.4087" y2="238.8508">
             <stop  offset="0" style="stop-color:#E2E5EA"/>
             <stop  offset="1" style="stop-color:#F3F5F9"/>
           </linearGradient>
           
             <path style="fill:url(#SVGID_00000095313480328679205730000004887344076416516028_);stroke:#F3F5F9;stroke-width:0.9176;stroke-miterlimit:10;" d="
             M408.6,205.6L408.6,205.6c-2.2,0-4,1.8-4,4v22.3h8.1v-22.3C412.6,207.4,410.8,205.6,408.6,205.6z"/>
         </g>
       </g>
       
         <linearGradient id="SVGID_00000092430361566429405790000007314876126957772684_" gradientUnits="userSpaceOnUse" x1="280.9923" y1="233.4548" x2="300.4673" y2="148.2517" gradientTransform="matrix(1 0 0 -1 0 457.8898)">
         <stop  offset="0" style="stop-color:#E2E5EA"/>
         <stop  offset="1" style="stop-color:#F3F5F9"/>
       </linearGradient>
       
         <path style="fill:url(#SVGID_00000092430361566429405790000007314876126957772684_);stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;" d="
         M123,326.1v-40.7c0-24.3,18.8-44.4,43-45.9l295.3-19.1v105.7"/>
       <g>
         <circle class="st5" cx="507" cy="265.1" r="122.8"/>
         <g>
           
             <linearGradient id="SVGID_00000021102554340529593580000015683504498036950667_" gradientUnits="userSpaceOnUse" x1="530.7666" y1="295.0764" x2="482.7792" y2="88.5484" gradientTransform="matrix(1 0 0 -1 0 457.8898)">
             <stop  offset="0" style="stop-color:#ADFDFF"/>
             <stop  offset="3.245186e-02" style="stop-color:#A3F3FB"/>
             <stop  offset="0.1826" style="stop-color:#7ACCE8"/>
             <stop  offset="0.3013" style="stop-color:#61B3DD"/>
             <stop  offset="0.373" style="stop-color:#58AAD9"/>
             <stop  offset="0.5677" style="stop-color:#4091C5"/>
             <stop  offset="0.9797" style="stop-color:#035192"/>
             <stop  offset="1" style="stop-color:#004E8F"/>
           </linearGradient>
           <circle style="fill:url(#SVGID_00000021102554340529593580000015683504498036950667_);" cx="507" cy="265.1" r="103.1"/>
           <path class="st0" d="M507,162.4c56.7,0,102.6,46,102.6,102.6s-46,102.6-102.6,102.6s-102.6-46-102.6-102.6S450.4,162.4,507,162.4
              M507,161.4c-57.1,0-103.6,46.5-103.6,103.6S449.9,368.7,507,368.7s103.6-46.5,103.6-103.6S564.2,161.4,507,161.4L507,161.4z"/>
         </g>
         <g>
           
             <linearGradient id="SVGID_00000170259219247125123030000010713758497317807779_" gradientUnits="userSpaceOnUse" x1="3438.396" y1="1275.0867" x2="3399.9951" y2="1109.8168" gradientTransform="matrix(0.6307 -0.7761 -0.7761 -0.6307 -735.8445 3655.616)">
             <stop  offset="0" style="stop-color:#ADFDFF"/>
             <stop  offset="3.245186e-02" style="stop-color:#A3F3FB"/>
             <stop  offset="0.1826" style="stop-color:#7ACCE8"/>
             <stop  offset="0.3013" style="stop-color:#61B3DD"/>
             <stop  offset="0.373" style="stop-color:#58AAD9"/>
             <stop  offset="0.5677" style="stop-color:#4091C5"/>
             <stop  offset="0.9797" style="stop-color:#035192"/>
             <stop  offset="1" style="stop-color:#004E8F"/>
           </linearGradient>
           <path style="fill:url(#SVGID_00000170259219247125123030000010713758497317807779_);" d="M507,265.1l-63.8,80.4
             c-16.6-13.2-28.7-31.2-34.7-51.5c-15.9-54,15.5-111.5,69.6-127.4s111.5,15.5,127.4,69.6c2.7,9.2,4.1,18.8,4.2,28.4L507,265.1z"/>
         </g>
       </g>
       <g>
         <g>
           
             <linearGradient id="SVGID_00000108305047547961024280000015346716329358018977_" gradientUnits="userSpaceOnUse" x1="335.8592" y1="-369.6487" x2="309.7107" y2="-494.198" gradientTransform="matrix(0.941 0.3385 0.3385 -0.941 -80.6448 -229.5432)">
             <stop  offset="0" style="stop-color:#FFF7D4"/>
             <stop  offset="0.4838" style="stop-color:#FFE259"/>
             <stop  offset="1" style="stop-color:#FFA751"/>
           </linearGradient>
           
             <circle style="fill:url(#SVGID_00000108305047547961024280000015346716329358018977_);stroke:#FFFFFF;stroke-miterlimit:10;" cx="74.4" cy="290.2" r="64.6"/>
         </g>
       </g>
     </g>
     </svg>


    </div>
    <div class="flex md:justify-center mx-auto items-center max-w-screen-xl gap-16 md:gap-8 p-8 rounded-3xl bg-gradient-to-tr from-white to-gray-100 _outline">
                <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16 gap-y-4 md:gap-y-4 justify-items-start items-center">
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Некрасов Матвей Захарович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true} ></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Лебедева Василиса Демидовна" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Зимин Артём Маркович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Лукьянов Степан Артёмович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Новиков Кирилл Романович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Герасимов Сергей Дмитриевич" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Михайлова Елизавета Робертовна" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Некрасов Матвей Захарович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Лебедева Василиса Демидовна" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Зимин Артём Маркович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Лукьянов Степан Артёмович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Новиков Кирилл Романович" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Герасимов Сергей Дмитриевич" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                    <li class="pb-1 hover:bg-white rounded-2xl"><Avatar name="Михайлова Елизавета Робертовна" mail="kuznets_ys@santech.ru" status={Math.random()>.5&&true}></li>
                </ul>
    </div>
</Layout>