---
const pathname = new URL(Astro.request.url).pathname;
const main = pathname[0];
const currentPath = pathname.slice(1);
const {level1, level2, class: className} = Astro.props;
---
    <nav aria-label="breadcrumb"  class:list={["w-max", className]}>
      <ol class="flex flex-wrap items-center w-full px-4 py-2 rounded-md bg-blue-gray-50 bg-opacity-60">
        <li class="flex items-center font-sans text-sm antialiased font-normal leading-normal transition-colors duration-300 cursor-pointer text-blue-gray-900 hover:text-main-900">
          <a class="opacity-60" href={"/santech-portal/"}>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
            </svg>
          </a>
          <span class="mx-2 font-sans text-sm antialiased font-normal leading-normal pointer-events-none select-none text-blue-gray-500">
            /
          </span>
        </li>
        <li class="flex items-center font-sans text-sm antialiased font-normal leading-normal transition-colors duration-300 cursor-pointer text-blue-gray-900 hover:text-main-900">
          <a
            class="font-medium transition-colors text-blue-gray-900 hover:text-main-900"
            href="#"
          >
            {level2}
          </a>
        </li>
      </ol>
    </nav>