---
import Button from "../components/Button.astro";
import data from "../data/header_links.json";
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-xl">
  {
    data.map((item) => (
      <Button title={item.title} url={item.url} icon={item.icon} />
    ))
  }
</div>

