---
import Button from "../components/Button.astro";
import data from "../data/header_links.json";
---

<div class="link-section">
  {
    data.map((item) => (
      <Button title={item.title} url={item.url} icon={item.icon} />
    ))
  }
</div>
<style>
  .link-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    /* columns: 3;
    width:45%; */
  }
</style>

