---
const {url, title, icon, subtitle, type} = Astro.props;
---
<button class="flex flex-col justify-start items-center gap-2 px-6 py-4 border-gray-100/20 border rounded-3xl hover:shadow-active">
  
  <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 relative" viewBox="0 0 33 32" fill="none">
      <path d="M20.5 5.33341V2.66675M20.5 5.33341V8.00008M20.5 5.33341H14.5M4.5 13.3334V25.3334C4.5 26.8062 5.69391 28.0001 7.16667 28.0001H25.8333C27.3061 28.0001 28.5 26.8062 28.5 25.3334V13.3334H4.5Z" stroke="#F3F5F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M4.5 13.3333V7.99992C4.5 6.52716 5.69391 5.33325 7.16667 5.33325H9.83333" stroke="#F3F5F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M9.8335 2.66675V8.00008" stroke="#F3F5F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M28.4998 13.3333V7.99992C28.4998 6.52716 27.306 5.33325 25.8332 5.33325H25.1665" stroke="#F3F5F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  <div class="text-center text-white text-base text-sm text-base font-medium leading-none tracking-wide">title</div>

  {subtitle && <div class="text-white text-sm font-400 leading-none tracking-wide">{subtitle}</div>}
</button>

