---
import CalendarGrid from "./calendar/CalendarGrid.astro";
import CalendarDateCapture from "./calendar/CalendarDateCapture.astro";
import Layout from "../layouts/SectionLayout.astro";
---

<Layout title="Корпоративный календарь" icon="#">
<div class="calendar">
    <CalendarDateCapture dates={[1,2]}/>
    <CalendarGrid/>
</div>
</Layout>
<style>
    .calendar{
        display: flex;
        align-items: center;
        gap: 64px;
    }

</style>