---
import data from "../data/header_links.json";
import Icon from "../components/Icon.astro";
const { id } = Astro.props;
---
<div id={id} class="fixed top-0 left-0 z-[60] h-screen p-4 pt-6 overflow-y-auto transition-transform -translate-x-full w-72 bg-main-900" tabindex="-1">
  <div class="flex items-center justify-between cente">
    <div class="flex items-center object-center pl-3">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 29.3 14.3" class="h-6 text-gray-100">
        <path class="cls-1" d="m5.8,6.61c-.08.53.06,1.05.38,1.47.65.88,1.9,1.06,2.78.4L20.32,0h-6.64s-7.1,5.31-7.1,5.31c-.43.32-.7.78-.78,1.31Zm14.86,2.6l4.05,5.21h5.06s-5.77-7.7-5.77-7.7l-3.34,2.5Zm-4.78,3.57l1.23,1.64h5.23s-3.13-4.12-3.13-4.12l-3.33,2.49Zm-5.83-2.82c-.7.52-1.53.77-2.35.76-1.14-.02-2.26-.55-3-1.53-.61-.82-.87-1.82-.72-2.84.15-1.01.68-1.9,1.5-2.51L10.61,0h-6.57s-.91.67-.91.67C-.31,3.23-1.03,8.09,1.53,11.53c2.55,3.43,7.39,4.15,10.83,1.62L30.06,0h-6.68s-13.34,9.96-13.34,9.96Z"/>
      </svg>
    </div>
    <button type="button" id="close_drawer_btn" data-drawer-hide="drawer-navigation" class="inline-flex items-center justify-center w-8 h-8 text-sm text-gray-400 bg-transparent rounded-lg hover:bg-gray-700 hover:text-white">
      <Icon id="cancel" data-size="lg"/>
      <span class="sr-only">Закрыть</span>
    </button>
  </div>
  <div class="px-1 py-4 overflow-y-auto">
    <div class="pl-2">
      <slot />
    </div>
    <ul class="py-4">
      {
        data.map((item) => (
          <li class="text-gray-100 group hover:outline outline-gray-200/50 rounded-2xl">
            <a href={item.url} class="flex items-center">
              <div class="p-2">
                <Icon id={item.icon} data-size="xs"/>
              </div>
              <div class="px-1 text-sm"> {item.title}</div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const
      drawer_btn: HTMLButtonElement = document.getElementById("close_drawer_btn") as HTMLButtonElement,
      main_nav_drawer: HTMLElement = document.getElementById("main_nav_drawer") as HTMLElement;

    drawer_btn.addEventListener("click", () => {
      main_nav_drawer.classList.toggle("transform-none");
    });
  });
</script>
