---

import LinkSection from "./main_sections/Section_Links.astro";
---
<footer class="relative z-50 py-16 mt-16 bg-gray-300 ">
    <div class="max-w-screen-xl mx-auto">
        <LinkSection/>
    </div>
    
</footer>