---

import LinkSection from "../components/LinkSection.astro";
---
<footer class="  bg-gray-300 mt-16 py-16">
    <div class="max-w-screen-xl mx-auto">
        <LinkSection/>
    </div>
    
</footer>