---

---

<div class="flex flex-wrap gap-4 py-16">
  <a 
    href="https://cdn.midjourney.com/6490cc15-0005-4a48-ace7-a3a431b7d0e5/0_2.png"
    data-fancybox="gallery"
    data-caption="Иллюстрация 1"
  >
    <img
        class="h-32"
      src="https://cdn.midjourney.com/6490cc15-0005-4a48-ace7-a3a431b7d0e5/0_2.png"
    />
  </a>

  <a 
    href="https://cdn.midjourney.com/f7c252a9-2a5f-4fc1-90c9-6feca42c59bf/0_3.png"
    data-fancybox="gallery"
    data-caption="Иллюстрация 2"
  >
    <img
        class="h-32"
      src="https://cdn.midjourney.com/f7c252a9-2a5f-4fc1-90c9-6feca42c59bf/0_3.png"
    />
  </a>
  <a 
    href="https://cdn.midjourney.com/28abed28-9b27-4c44-81c8-287031d59326/0_3.png"
    data-fancybox="gallery"
    data-caption="Иллюстрация 3"
  >
    <img
        class="h-32"
      src="https://cdn.midjourney.com/28abed28-9b27-4c44-81c8-287031d59326/0_3.png"
    />
  </a>
  <a 
    href="https://cdn.midjourney.com/fc8b51c7-b4cc-4e99-b0e2-e7ce462f6fb5/0_1.png"
    data-fancybox="gallery"
    data-caption="Иллюстрация 4"
  >
    <img
        class="h-32"
      src="https://cdn.midjourney.com/fc8b51c7-b4cc-4e99-b0e2-e7ce462f6fb5/0_1.png"
    />
  </a>
  <a 
    href="https://cdn.midjourney.com/bfe5118f-5e69-4e0d-a40e-1a2f67cdfd65/0_1.png"
    data-fancybox="gallery"
    data-caption="Иллюстрация 5"
  >
    <img
        class="h-32"
      src="https://cdn.midjourney.com/bfe5118f-5e69-4e0d-a40e-1a2f67cdfd65/0_1.png"
    />
  </a>
</div>
<script>
  import { Fancybox } from "@fancyapps/ui";
  import "@fancyapps/ui/dist/fancybox/fancybox.css";
  Fancybox.bind("[data-fancybox]", {
    Thumbs: {
        type: "classic",
    },
  });
</script>
