---
import { getCollection, getEntry } from "astro:content";
import Search from "./Search.astro";
import NavBar from "./NavBar.astro";
import Button from "../components/Button.astro";
import data from "../data/header_links.json";

// const main_links = await getCollection("test",({ id }) => {
//   return id == "links";
// });
// main_links.forEach((obj) => {
//   console.log(obj);  
// });
---

<div class="hero px-4 md:px-16 sm:min-h-screen gap-16 py-16 flex flex-col place-content-between mt-auto z-50 bg-gradient-to-tr from-main-900 to-blue-800">
  <div class="flex flex-col gap-16 ">
    <div class="flex flex-col md:flex-row gap-16 place-content-between">
      <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-full md:w-auto md:h-8" viewBox="0 0 509 36" fill="none">
          <path d="M117.22 24.3236C115.518 28.3251 111.615 33.0875 103.719 33.0875C94.7744 33.0875 87.8512 26.7901 87.8512 17.5802C87.8512 8.37026 94.7744 2.07289 103.719 2.07289C111.615 2.07289 115.467 6.6516 117.22 10.7974L109.593 14.4446C108.851 12.1093 106.573 10.0758 103.719 10.0758C99.6884 10.0758 96.8347 13.4082 96.8347 17.5802C96.8347 21.7522 99.6884 25.0845 103.719 25.0845C106.573 25.0845 108.851 23.0641 109.593 20.7289L117.22 24.3236ZM138.297 2.57143L149.085 32.5496H139.487L138.348 28.6793H127.125L125.986 32.5496H116.389L127.164 2.57143H138.297ZM136.057 21.1356L132.717 10.5743L129.39 21.1356H136.057ZM169.982 13.1851H159.502V2.57143H150.646V32.5496H159.502V21.0831H169.982V32.5496H178.838V2.57143H169.982V13.1851ZM189.843 32.5627H198.699V10.4825H206.505V2.57143H181.999V10.4825H189.843V32.5496V32.5627ZM231.843 25.0058H218.508V21.188H231.536V13.6312H218.508V10.1283H231.843V2.57143H209.653V32.5496H231.843V24.9927V25.0058ZM243.066 32.5627L248.415 23.3921L253.764 32.5627H264.206L254.43 17.1472L263.554 2.58455H253.073L248.428 11.1254L243.693 2.58455H233.302L242.426 17.1997L232.649 32.5758H243.091L243.066 32.5627ZM274.636 24.2449L276.248 22.0015L282.826 32.5627H293.614L282.084 16.5175L293.128 2.58455H282.301L274.636 13.828V2.57143H265.78V32.5496H274.636V24.2318V24.2449ZM291.861 17.5933C291.861 8.38338 298.835 2.08601 307.857 2.08601C316.879 2.08601 323.866 8.38338 323.866 17.5933C323.866 26.8032 316.892 33.1006 307.857 33.1006C298.822 33.1006 291.861 26.8032 291.861 17.5933ZM300.844 17.5933C300.844 21.7784 303.608 25.0977 307.857 25.0977C312.106 25.0977 314.87 21.7784 314.87 17.5933C314.87 13.4082 312.106 10.0889 307.857 10.0889C303.608 10.0889 300.844 13.4082 300.844 17.5933ZM335.87 13.6312L342.409 32.5627H346.35L352.89 13.6312V32.5627H361.745V2.57143H349.511L344.38 17.8557L339.248 2.57143H327.014V32.5496H335.87V13.6181V13.6312ZM375.323 10.4825H385.803V32.5496H394.659V2.57143H366.467V32.5496H375.323V10.4825ZM412.575 13.5656L417.642 32.4708H427.688L418.141 2.49271H407.008L397.474 32.4708H407.507L412.575 13.5656ZM452.693 24.9927H439.359V21.1749H452.386V13.6181H439.359V10.1152H452.693V2.57143H430.516V32.5496H452.693V24.9927ZM465.49 24.2318L467.115 21.9883L473.693 32.5496H484.481L472.951 16.5044L483.995 2.57143H473.168L465.49 13.8149V2.57143H456.635V32.5496H465.49V24.2318ZM492.313 32.5496H501.168V10.4825H508.974V2.57143H484.468V10.4825H492.313V32.5496ZM15.7402 13.0146L32.7474 0H48.6541L21.4349 20.8338C19.3362 22.4344 16.3417 22.0015 14.7805 19.8499C14.0126 18.8003 13.6927 17.5277 13.8847 16.2289C14.0638 14.9431 14.7293 13.8017 15.753 13.0146H15.7402ZM29.5994 32.2872L71.983 0H55.9867L24.0583 24.4417C22.3819 25.7274 20.3983 26.3309 18.4404 26.3047C15.7018 26.2653 13.0145 24.9665 11.2485 22.5525C9.78963 20.5452 9.17537 18.0787 9.52089 15.586C9.86641 13.1064 11.1461 10.9155 13.104 9.41982L25.4147 0H9.67446L7.49897 1.65306C-0.742288 7.93732 -2.45708 19.863 3.67267 28.312C9.77683 36.7347 21.3709 38.5058 29.6122 32.2872H29.5994ZM71.2919 35.3965L57.4584 16.4913L49.4603 22.6181L59.1604 35.4096H71.2919V35.3965ZM38.0198 31.3819L40.9503 35.3965H53.4785L45.9923 25.2813L38.0198 31.3819Z" fill="#F2F2F2"/>
        </svg>
      </div>
      <Search/>
      
      
    </div>
    <div class="grid grid-cols md:grid-rows-5 lg:grid-rows-4 md:grid-flow-col gap-2 md:gap-4 justify-items-start max-w-3xl resize">
      <!-- grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-start grid-flow-row-dense -->
      {
        data.map((item) => (
          <Button title={item.title} url={item.url} icon={item.icon} class="border-gray-100/20 hover:shadow-active text-gray-100 tracking-wider text-sm md:text-md "/>
        ))
      }
    </div>
  </div>
  <NavBar/>
  
  
</div>
<style>
  .hero {
    background: radial-gradient(150.05% 106.94% at 64.2% 92.17%, #005791 0%, #042157 100%);
    background-image: url("/santech-portal/img/bg_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: 100dvh; */
  }
 

</style>
