---
const { title, iconID,subtitle, class:className } = Astro.props;
---
<div class:list={["flex gap-4 justify-start relative pb-8 items-center",className]}>
    <svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-16 md:w-24 md:w-24 stroke-2 text-accent-400 " viewBox="0 0 24 24" fill="none">
      <use href={iconID}></use>
    </svg>
  
    <div class="flex flex-col relative gap-1 text-gray-900 tracking-wide uppercase ">

      <h2 class="text-main-900 text-4xl font-extrabold">{title}</h2>

      {subtitle?<p class="text-xl">{subtitle}</p>:false}
      
    </div>
</div>