---
import Icon from "./Icon.astro";
import Button from "../components/Button.astro";

const {} = Astro.props;

const UUID:string = crypto.randomUUID();
---
<div class="flex flex-col gap-4 p-2 m-2 transition-all shadow-sm cursor-pointer md:m-4 md:p-4 _outline rounded-2xl hover:border-slate-100 bg-slate-0 hover:bg-white/20 hover:shadow-xl">
    <div class="flex flex-row items-start place-content-between">
        <div class="flex flex-col gap-2 ">
            <h2 class="font-black leading-normal uppercase text-md md:text-lg">Менеджер по продажам</h2>
            <div class="flex flex-row text-sm lg:text-md">
                <div class="flex flex-row">
                    <Icon id="pin-alt" class="" data-size />
                    <div class="pl-1 font-bold">г. Видное</div>
                    <div class="pl-4">Департамент продаж</div>
                </div>          
            </div>   
        </div>
        <Button id={UUID} class="clipboard bg-accent-400" icon="share-ios" valueToKeep="Менеджер по продажам в г. Видное"/> 
    </div>

    <details data-buffer-id={UUID} class="py-4 [&_svg]:open:-rotate-180 flex ">
        <summary class="flex flex-row items-center gap-4 px-3 py-2 list-none cursor-pointer place-items-center rounded-3xl ">
            <Icon id="arrow-down" class="transition-transform duration-300 transform rotate-0" data-size />
            <label class="flex-shrink-0">Подробнее</label>
        </summary>
        <div class="prose-sm prose">
            <!--Сюда сырой html -->
            <h3 >Задачи</h3>
            <p>Активно выполнять план продаж, а для этого:</p>
            <ul>
                <li>Терпеливо консультировать клиентов по продукции компании, помогать им с выбором;</li>
                <li>Оперативно выставлять счета, контролировать дебиторскую задолженность;</li>
                <li>Добросовестно оформлять документы, необходимые для отгрузок;</li>
                <li>Учиться и постоянно развиваться (мы поможем!);</li>
                <li>Работать на 100% результат.</li>
            </ul>
            <h3 >Наши ожидания от вас:</h3>
            <ul>
                <li>Высшее образование (техническое или экономическое);</li>
                <li>Опыт работы в продажах от года (оптимально- B2B/ FMCG);</li>
                <li>Профессиональный опыт в строительной тематике приветствуется;</li>
                <li>Умение работать в офисных программах (специальным – научим!);</li>
                <li>Грамотная речь;</li>
                <li>Целеустремлённость, умение работать в команде, желание работать и развиваться.</li>          
            </ul>

            <h3 >От нас:</h3>
            <ul>
                <li>Полное соблюдение ТК РФ;</li>
                <li>График работы 5/2 с 08.00 до 17.00;</li>
                <li>Система адаптации и наставничества для новых сотрудников;</li>
                <li>Регулярное обучение (внутреннее/ внешнее/ очное/ дистанционное/ групповое/ индивидуальное);</li>
                <li>Отличная возможность профессионального развития;</li>
                <li>Корпоративная парковка и специальная парковка для велосипедистов;</li>
                <li>Буфет и столовая на территории компании;</li>
                <li>Корпоративные подарки первоклассникам;</li>
                <li>Сладкие детские подарки к Новому году;</li>
                <li>Экскурсии по компании для детей сотрудников;</li>
                <li>Скидки сотрудникам на покупку продукции компании;</li>
                <li>Дружный коллектив хороших людей, с которыми приятно иметь дело.</li>    
            </ul>
            <!--_Сюда сырой html-->
        </div>
    </details>



</div>
