---
const {url, text, header,accent, class:className} = Astro.props;
---
<li class=" [&_a]:hover:bg-white [&_a]:hover:shadow-lg text-gray-900 ">
    <a class="px-2  block rounded-2xl" href=`${url}`>{text}</a>
</li>

<style>

    /* .link__title{
        color: var(--black, #333238);
        display: block;

        font: var(--link);
        letter-spacing: 0.01rem;

        text-decoration: none;
        border-radius: var(--inner_radius,16px);
        
    } */
    /* .link__title:hover{
        background: var(--white, #fff); 
        box-shadow: var(--shadow-soft-box-shadow);       
    } */
    
    
    /* нужно перебить ховер стандартного вида*/
    .link .link--header:hover{
        background: var(--steel-grey, #fff); 
        box-shadow: none;       
    }
    
    .link .link--accent{
        background: var(--grad-light-accent);
        /* padding: 8px 8px; */
    }

    .link--accent:hover{
        background: var(--grad-light-accent);
        box-shadow: var(--accent-shadow-box-shadow);
    }
</style>