---
import { getCollection, getEntry } from "astro:content";

const articlesEntries = await getCollection("articles");

let sortedPosts: any = {};

articlesEntries.forEach((obj) => {
  let cat = obj.id.substring(0, obj.id.indexOf("/"));
  const sortBy = cat;
  if (sortedPosts[sortBy]) {
    sortedPosts[sortBy].push(obj);
  } else {
    sortedPosts[sortBy] = [obj];
  }
});

const categories = Object.keys(sortedPosts);

---

<div class="link-section columns-1 md:columns-2 lg:columns-4 px-16 pb-16 md:pb-32 pt-16 gap-16">
  {
    categories.map((category:string) => (
        <ul class="rounded-2xl _outline flex flex-col items-start justify-start mb-16 break-inside-avoid ">
          <a class="link-panel__header px-2 uppercase font-extrabold tracking-wide pb-1 leading-tight" href={"База знаний/"+category}>{category}</a>
          {sortedPosts[category].map((item:any) => (
            <li  class="group  text-gray-900 ">
              <a data-accent={item.data.accent} class=" group-hover:bg-white group-hover:shadow-lg group-hover::shadow-lg px-2 py-1 leading-tight block rounded-2xl data-[accent]:bg-accent-400 group-hover:data-[accent]:bg-accent-300 group-hover:data-[accent]:shadow-active" href={"База знаний/" + category + "#" +item.slug.substring(item.slug.lastIndexOf("/")+1)}>{item.data.title}</a>
            </li>
          ))}
      </ul>
    ))
  }
</div>


