---
const {header, links} = Astro.props;
const link = "База знаний/" + header;
---
<ul class="rounded-2xl _outline flex flex-col items-start justify-start mb-16 break-inside-avoid ">
  <a class="link-panel__header px-2 uppercase font-extrabold tracking-wide pb-1 leading-tight" href={"База знаний/"+header}>{header}</a>

  {links.map((item:any) => (

    <li class=" [&_a]:hover:bg-white [&_a]:hover:shadow-lg text-gray-900 ">
      <a class="px-2 py-1 leading-tight block rounded-2xl" href={link + "#" +item.slug.substring(item.slug.lastIndexOf("/")+1)}>{item.data.title}</a>
    </li>
  ))}
</ul>

<style>

</style>
