---
import Button from "../components/Button.astro";
---
<div class="flex place-content-between">
    <Button title="Календарь"/>
    <Button title="Календарь"/>
    <Button title="Календарь"/>
    <Button title="Календарь"/>
    <Button title="Календарь"/>
    <Button title="Календарь"/>
    <Button title="Календарь"/>
</div>