---
import Layout from "../layouts/SectionLayout.astro";
import NewsCard from "./NewsCard.astro";

const posts=[
  {
    title: "Выпущена новая линейка экологически чистых сантехнических решений",
    post: "Ведущая компания по производству инженерного сантехнического оборудования выпустила новую линейку экологичных продуктов, предназначенных для снижения потребления воды и обеспечения экологической безопасности. Инновационные решения включают в себя смесители с низким расходом воды, водосберегающие душевые лейки и энергоэффективные водонагреватели, позволяющие клиентам минимизировать воздействие на окружающую среду без ущерба для производительности.",
    date:"14.10.2023 10:18",
    category: "PROчитай" 
  },
  {
    title: "Партнерство с ведущей строительной фирмой для предоставления комплексных сантехнических решений",
    post: "В рамках стратегического курса на комплексное обслуживание своих клиентов компания, производящая инженерное сантехническое оборудование, заключила партнерство с ведущей строительной фирмой. Сотрудничество позволит компании предоставлять комплексные сантехнические решения для крупномасштабных проектов, предлагая клиентам из строительной отрасли универсальное решение.",
    date:"17.10.2023 14:25",
    category: "Развитие" 
  },
  {
    title: "Запущена ведущая в отрасли программа обучения специалистов-сантехников",
    post: "Осознавая важность квалифицированных специалистов в области сантехники, компания, производящая инженерное сантехническое оборудование, представила ведущую в отрасли программу обучения. Программа направлена на повышение уровня знаний и навыков специалистов-сантехников, ознакомление их с новейшими методиками и передовым опытом установки и обслуживания продукции компании.",
    date:"26.10.2023 12:37",
    category: "Обучение" 
  },
  {
    title: "Новая линейка клапанов высокого давления для промышленного применения",
    post: "Компания, производящая инженерное сантехническое оборудование, представила новую линейку клапанов высокого давления, специально разработанных для применения в промышленности. Эти клапаны рассчитаны на эксплуатацию в экстремальных условиях и обеспечивают надежную и эффективную работу в сложных условиях, что делает их идеальными для использования на заводах, электростанциях и других промышленных объектах.",
    date:"14.10.2023 10:18",
    category: "Новинки ассортимента" 
  },
  {
    title: "Инновационные решения в области водоподготовки для устойчивого строительства",
    post: "Для поддержки растущего спроса на экологичные методы строительства компания, производящая инженерное сантехническое оборудование, разработала инновационные решения в области водоподготовки. Эти решения помогают подрядчикам и застройщикам соблюдать экологические нормы и снижать воздействие на местные источники воды за счет эффективной очистки и повторного использования воды на строительных площадках.",
    date:"17.10.2023 14:25",
    category: "Иновации" 
  },
  {
    title: "Партнерство с ведущими архитекторами для проектирования интеллектуальных сантехнических систем",
    post: "В рамках совместной работы по созданию более эффективных и экологичных зданий компания, производящая инженерное сантехническое оборудование, заключила партнерство с группой ведущих архитекторов. Целью партнерства является разработка интеллектуальных сантехнических систем, интегрированных с системами автоматизации и управления зданием, оптимизирующих использование воды и повышающих общую энергоэффективность.",
    date:"26.10.2023 12:37",
    category: "Стратегия" 
  },
];
---

<Layout title="Короткометражки" icon="#stats-report" full class="md:ml-32 [&_svg]:text-white">
  <div class="absolute w-20 h-20 md:h-40 md:w-40 -z-50 bg-gradient-to-b from-accent-300 to-accent-400 shadow-active rounded-4xl -top-4 md:-top-12 -rotate-12 left-4 md:left-24"></div>
    <div class="absolute inset-x-0 h-72 bottom-64 bg-slate-300 -z-50 bg-gradient-to-b from-gray-300 to-gray-100"></div>

  
  <section class="pb-16 overflow-hidden splide " role="group" id="news">
    <div class="py-8 splide__track ">
      <ul class="splide__list ">
        {posts.map((post)=>(
          <NewsCard photo="" title={post.title} post={post.post} badge={post.category} date={post.date} />
        ))}
        
      </ul>
    </div>
  </section>
</Layout>

<script>
  import Splide from "@splidejs/splide";
  document.addEventListener('astro:page-load', () => {
  var splide = new Splide("#news", {
    type: "slide",
    perPage: 1,
    gap: "2rem",
    paginationKeyboard: true,
    pagination: false,
    keyboard: "focused",
    focus: "center",
    start: 1,
    easing: "ease",
    waitForTransition: true,
    updateOnMove: true,
    trimSpace: false,
    padding: "0",
    mediaQuery: "min",
    breakpoints: {
      320:{
        start: 0,
        perPage: 1.2,
      },
			768: {
			  perPage: 3,
        start: 2,
        // padding: "1rem",
		  },
		},

  });
  splide.mount();

});
</script>

