---
import Badge from "./Badge.astro";
const { photo, name, post, badge, date } = Astro.props;
---
<!-- props: {"property1":{"type":"VARIANT","defaultValue":"'lg'","variantOptions":["LG","XS","Variant3"]}} -->
<div class="splide__slide property-1-lg">
    <div class="property-1-lg__frame-104">
      <div class="property-1-lg__frame-422">
        <img class="property-1-lg__rectangle-26" src="rectangle-26.png" />
      </div>
      <div class="property-1-lg__link">
        <div class="property-1-lg__frame-92">
            <Badge
            text={badge}
            type={Math.round(Math.random()) + 1}
            class=".staff-item__badge"
          />
          <div class="property-1-lg__frame-2">
            <div class="property-1-lg__title2">26.04.2023 14:25</div>
          </div>
        </div>
        <div class="property-1-lg__frame-29">
          <div class="property-1-lg__title3">
            Компания Сантехкомплект запускает программу лояльности для клиентов.
          </div>
          <div class="property-1-lg__title4">
            Оригинал Аладдина не тот, каким вы себе его представляли.Знаменитых
            историй об Аладдине, Али-Бабе и Синдбаде не было в оригинальной версии
            «1001 ночи»,они появились только в более поздних изданиях. Более того,
            Аладдин жил со своей матерью и не был сиротой, как думают многие. Ах
            да, изначально он был китайцем...
          </div>
        </div>
      </div>
    </div>
  </div>


  <style>

.property-1-lg {
  border-radius: 24px;
  border-style: solid;
  border-color: var(--dark-grey, #e1e4e9);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 319px;
  height: 415px;
  position: relative;
  transform: scale(.8);
  transition: transform .3s;
}
.is-active {
  /* transition: transform .2s; */
  background-color: var(--accent);
  transform: scale(1);
}
.is-active .property-1-lg__frame-104{
  box-shadow: var(--accent-shadow-box-shadow);
  
}
.property-1-lg__frame-104 {
  transition: box-shadow .2s;
  background: var(--steel-grey, #f3f5f9);
  border-radius: 16px;
  border-style: solid;
  border-color: var(--steel-grey, #f3f5f9);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  /* box-shadow: var(
    --shadow-box-shadow,
    0px 2.75px 9px 0px rgba(0, 0, 0, 0.19),
    0px 0.25px 3px 0px rgba(0, 0, 0, 0.04)
  ); */
  overflow: hidden;
}
.property-1-lg__frame-422 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.property-1-lg__rectangle-26 {
  border-radius: 8px;
  align-self: stretch;
  flex-shrink: 0;
  height: 155px;
  position: relative;
}
.property-1-lg__link {
  border-radius: 10px;
  padding: 0px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.property-1-lg__frame-92 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.property-1-lg__frame-1 {
  background: var(--red, #eb5757);
  border-radius: 10px;
  padding: 2px 8px 2px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.property-1-lg__title {
  color: var(--gray-6, #f2f2f2);
  text-align: left;
  font: 500 12px/100% "Golos Text VF", sans-serif;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.property-1-lg__frame-2 {
  border-radius: 10px;
  padding: 2px 8px 2px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.property-1-lg__title2 {
  color: var(--black, #333238);
  text-align: left;
  font: 500 12px/100% "Golos Text VF", sans-serif;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.property-1-lg__frame-29 {
  padding: 0px 0px 0px 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.property-1-lg__title3 {
  color: var(--black, #333238);
  text-align: left;
  font: 700 16px/130% "Golos Text VF", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.property-1-lg__title4 {
  color: var(--black, #333238);
  text-align: left;
  font: 500 14px/150% "Golos Text VF", sans-serif;
  position: relative;
  align-self: stretch;
  flex: 1;
  text-overflow: ellipsis;

/* Нужно, чтобы это заработало */
overflow: hidden;
white-space:pre-wrap;
line-clamp: 2;
}

  </style>