---
import Badge from "./Badge.astro";
import Button from "./Button.astro";
const { photo, title, post, badge, date } = Astro.props;
const CATEGORY_COLORS:any = {
  'Стратегия':'bg-orange-300',
  'Новинки ассортимента': "bg-blue-300",
  'PROчитай': "bg-green-300",
  "Развитие": "bg-red-300",
  "Обучение": "bg-yellow-300",
}
---
<!-- props: {"property1":{"type":"VARIANT","defaultValue":"'lg'","variantOptions":["LG","XS","Variant3"]}} -->
<div class="my-6 _outline bg-gray-200 rounded-3xl gap-2 splide__slide shadow-xl duration-300 scale-[0.8] transition-all opacity-70 max-w-screen-sm">
  <div class="max-h-64 overflow-hidden rounded-t-3xl scale-100">
    <img src="./img/news_1.png" alt="" class=""/>
  </div>
  <div class="flex flex-col p-4">
    <div class="flex justify-between items-center pl-2 pb-1">
      <Badge
              text={badge}
              class={CATEGORY_COLORS[badge]||"bg-accent-300"}
            />
      <span class="text-xs">
        26.10.2023 14:25
      </span>
    </div>
    <div class="pl-3 pb-2">
      <h3 class="text-md font-extrabold leading-tight pb-2">{title}</h3>
      <p class="text-sm"> {post}</p>
    </div>
    <Button url="./Короткометражки" title="Подробнее" class="transition-all hover:bg-gray-100 hover:shadow-md mt-auto"></Button>
  </div>

</div>
