---
import Badge from "./Badge.astro";
import Button from "./Button.astro";
const { photo, title, post, badge, date } = Astro.props;
const CATEGORY_COLORS:any = {
  'Стратегия':'bg-orange-300',
  'Новинки ассортимента': "bg-blue-300",
  'PROчитай': "bg-green-300",
  "Развитие": "bg-red-300",
  "Обучение": "bg-yellow-300",
}
---
<div class="flex flex-col self-center my-6 pb-4 _outline bg-gray-200 rounded-3xl gap-2 splide__slide shadow-xl duration-300 scale-[0.8] transition-all opacity-70 min-w-32 max-w-screen-sm">
  <div class="overflow-hidden scale-100 max-h-64 rounded-t-3xl">
    <img src="/santech-portal/img/news_1.png" alt="" class=""/>
  </div>
  <div class="flex flex-col p-2 py-3 md:p-4">
    <div class="flex items-center justify-between pb-2 pl-2 md:pb-1">
      <Badge
              text={badge}
              class={CATEGORY_COLORS[badge]||"bg-accent-300"}
            />
      <span class="text-xs">
        26.10.2023 14:25
      </span>
    </div>
    <div class="pb-2 pl-3 leading-4">
      <h3 class="pb-2 text-xs font-extrabold md:text-lg md:leading-5">{title}</h3>
      <!-- <p class="text-xs md:text-sm"> {post}</p> -->
    </div>
    <Button url="/santech-portal/Короткометражки" title="Подробнее" class="text-xs transition-all hover:bg-gray-100 hover:shadow-md md:text-base"></Button>
  </div>

</div>
