---
import Intro_section from "../story/Intro_section.astro";
import Story_section from "../story/Story_events_.astro";
import ScrollableStory_section from "../story/ScrollableStory_section.astro";

import Brands_section from "../story/Brands_section.astro";


---


<section id="story" class="flex flex-col items-center">
  <Intro_section/> 
  <Story_section/> 
  <!-- <Story_section/>  -->
  <Brands_section/> 
</section>