---
import Intro_section from "../story/IntroSection.astro";
import Story_section from "../story/StoryEvents.astro";
import Brands_section from "../story/BrandsSection.astro";
---
<section id="story" class="flex flex-col items-center">
  <Intro_section/>
  <Story_section/>
  <Brands_section/>
</section>