---
import { ViewTransitions } from 'astro:transitions';
import SVG_sprite from '../icons/SVG_sprite.astro';
import '../styles/main.css';
import '../styles/splide-default.min.css';
const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="ru" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Портал компании «Сантехкомплект»"/>
    <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0" />

		<link rel="icon" href="/santech-portal/favicon.ico"> 
		<link rel="icon" type="image/svg+xml" href="/santech-portal/asset/favicons/favicon.svg" />
		<link rel="apple-touch-icon" href="/santech-portal/asset/favicons/favicon-180.png"> 
		<link rel="manifest" href="/santech-portal/manifest.webmanifest">

    <title>{title}</title>
    <ViewTransitions />

  </head>
  <body>
    <SVG_sprite/>
        <slot />
  </body>
</html>
