--- 
import '../styles/destyle.css';
import '../styles/variables.css';
// import '../styles/splide-default.min.css';
import '@splidejs/splide/css';
import SVG_sprite from '../icons/SVG_sprite.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Портал компании «Сантехкомплект»">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <script is:inline src="/asset/js/splide.min.js"></script> -->
		<!-- <link rel="stylesheet" href="/styles/global.css" /> -->
	</head>
	<body>
		<SVG_sprite/>
		<slot />

	</body>
</html>

