---
import '../styles/variables.css';
import '../styles/markdown.css';
const { title } = Astro.props;
// const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Портал компании «Сантехкомплект»" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <div class="markdown--default">
        <slot />
    </div>
  </body>
</html>
