---
import IconHeader from "../components/SectionHeader.astro";

const { title, icon,subtitle, class:className, full, id } = Astro.props;
---
<!--Обертка для секции-->
<section class:list={["mx-auto pb-56 relative max-w-full",{"mx-0":full}]} id={id?id:false}>
    {title?<IconHeader title={title} iconID={icon} subtitle={subtitle} class={className}/>:false}
    <slot/>
</section>
<!--_Обертка для секции-->
